<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
{{end}}
{{define "content"}}
<div class="az-content">
    <div class="container-fluid">
        <div class="az-content-body">
            <div class="az-content-breadcrumb">
                <span>Corporate Panel</span>
                <span>Setup</span>
                <span>Brands</span>
            </div>
            <div class="az-dashboard-one-title mg-b-20">
                <div>
                    <h2 class="az-dashboard-title">Setup Brands</h2>
                </div>
                <div class="toolbar-right">
                    <button class="btn btn-light btn-refresh-table">Refresh</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-brand">Add</button>
                </div>
            </div>

            <div>
                <table id="datatable-brands" class="table table-hover">
                    <thead>
                        <tr>
                            <th width="1">No</th>
                            <th>Logo</th>
                            <th>Code</th>
                            <th>Brand Name</th>
                            <th width="80">Order</th>
                            <th>Created at</th>
                            <th width="100">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div><!-- az-content-body -->
    </div><!-- container-fluid -->
</div><!-- az-content -->

<div id="modal-form-brand" class="modal fade effect-scale">
    <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <form action="/brands" type="post" class="form-setup brand add" data-parsley-validate>
                <div class="modal-header">
                    <h6 class="modal-title">Add Brand</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-sm">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand Code</label>
                                <input type="text" name="brand_code" class="form-control" placeholder="Brand Code"
                                    required>
                            </div><!-- form-group -->
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand Name</label>
                                <input type="text" name="brand_name" class="form-control" placeholder="Brand Name"
                                    required>
                            </div><!-- form-group -->
                        </div>
                    </div>  
                    <div class="row row-sm">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Display Name</label>
                                <input type="text" name="brand_display_name" class="form-control" placeholder="Display Name">
                            </div><!-- form-group -->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                                <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                            </div><!-- form-group -->
                        </div>
                    </div>  
                    <div class="row row-sm">
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="form-group pos-relative">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Primary Logo</label>
                                <div class="pos-relative">
                                    <img src="#" onerror="this.src='/static/images/default-img.png';"
                                        class="img-fluid img-thumbnail wd-100p ht-100 logo">
                                    <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                        <a href="#" data-toggle="media-library" data-filter="image"
                                            data-parent-target=".form-setup.brand.add"
                                            data-input-target="input[name=logo]"
                                            class="badge badge-info tx-bold">Change</a>
                                        <a href="#" data-trigger="delete-logo"
                                            class="badge badge-danger tx-bold d-none">X</a>
                                    </div>
                                </div>
                                <input type="hidden" name="logo">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="form-group pos-relative">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Secondary Logo</label>
                                <div class="pos-relative">
                                    <img src="#" onerror="this.src='/static/images/default-img.png';"
                                        class="img-fluid img-thumbnail wd-100p ht-100 secondary-logo">
                                    <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                        <a href="#" data-toggle="media-library" data-filter="image"
                                            data-parent-target=".form-setup.brand.add"
                                            data-input-target="input[name=secondary_logo]"
                                            class="badge badge-info tx-bold">Change</a>
                                        <a href="#" data-trigger="delete-secondary-logo"
                                            class="badge badge-danger tx-bold d-none">X</a>
                                    </div>
                                </div>
                                <input type="hidden" name="secondary_logo">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="form-group pos-relative">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Favicon</label>
                                <div class="pos-relative">
                                    <img src="#" onerror="this.src='/static/images/default-img.png';"
                                        class="img-fluid img-thumbnail wd-100p ht-100 favicon">
                                    <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                        <a href="#" data-toggle="media-library" data-filter="image"
                                            data-parent-target=".form-setup.brand.add"
                                            data-input-target="input[name=favicon]"
                                            class="badge badge-info tx-bold">Change</a>
                                        <a href="#" data-trigger="delete-favicon"
                                            class="badge badge-danger tx-bold d-none">X</a>
                                    </div>
                                </div>
                                <input type="hidden" name="favicon">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="form-group pos-relative">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Featured Image</label>
                                <div class="pos-relative">
                                    <img src="#" onerror="this.src='/static/images/default-img.png';"
                                        class="img-fluid img-thumbnail wd-100p ht-100 featured-image">
                                    <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                        <a href="#" data-toggle="media-library" data-filter="image"
                                            data-parent-target=".form-setup.brand.add"
                                            data-input-target="input[name=featured_image]"
                                            class="badge badge-info tx-bold">Change</a>
                                        <a href="#" data-trigger="delete-fi"
                                            class="badge badge-danger tx-bold d-none">X</a>
                                    </div>
                                </div>
                                <input type="hidden" name="featured_image">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mg-b-10">
                        <a href="#" data-toggle="media-library" data-filter="image" data-multiple="yes"
                            data-parent-target=".form-setup.brand.add" data-input-target="input[name=attachment_image]"
                            class="badge badge-secondary">Add Image Attachment</a>
                        <input type="hidden" name="attachment_image">
                    </div>
                    <div class="row row-sm text-center image-attachment">
                    </div>
                    <!-- form-group -->
                    <div class="form-group mg-t-15">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Tagline</label>
                        <input type="text" name="tagline" class="form-control" placeholder="Tagline">
                    </div><!-- form-group -->
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                        <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                    </div><!-- form-group -->
                    <div class="form-group">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Content</label>
                        <textarea name="content" rows="3" class="form-control" placeholder="Content"></textarea>
                    </div><!-- form-group -->
                </div><!-- modal-body -->
                <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                    <button class="btn btn-purple" type="submit">Save</button>
                </div>
            </form>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form brand add -->

<div id="modal-form-brand-update" class="modal fade effect-scale">
    <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <form action="/brands" type="put" class="form-setup brand update" data-parsley-validate>
                <div class="modal-header">
                    <h6 class="modal-title">Update Brand</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="brand_id">
                    <div class="row row-sm">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand Code</label>
                                <input type="text" name="brand_code" class="form-control" placeholder="Brand Code"
                                    required>
                            </div><!-- form-group -->
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand Name</label>
                                <input type="text" name="brand_name" class="form-control" placeholder="Brand Name"
                                    required>
                            </div><!-- form-group -->
                        </div>
                    </div>
                    <div class="row row-sm">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Display Name</label>
                                <input type="text" name="brand_display_name" class="form-control" placeholder="Display Name">
                            </div><!-- form-group -->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                                <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                            </div><!-- form-group -->
                        </div>
                    </div>  
                    <div class="row row-sm">
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="form-group pos-relative">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Primary Logo</label>
                                <div class="pos-relative wd-150">
                                    <img src="#" onerror="this.src='/static/images/default-img.png';"
                                        class="img-fluid img-thumbnail wd-100p ht-100 logo">
                                    <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                        <a href="#" data-toggle="media-library" data-filter="image"
                                            data-parent-target=".form-setup.brand.update"
                                            data-input-target="input[name=logo]"
                                            class="badge badge-info tx-bold">Change</a>
                                        <a href="#" data-trigger="delete-logo"
                                            class="badge badge-danger tx-bold d-none">X</a>
                                    </div>
                                </div>
                                <input type="hidden" name="logo">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="form-group pos-relative">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Secondary Logo</label>
                                <div class="pos-relative">
                                    <img src="#" onerror="this.src='/static/images/default-img.png';"
                                        class="img-fluid img-thumbnail wd-100p ht-100 secondary-logo">
                                    <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                        <a href="#" data-toggle="media-library" data-filter="image"
                                            data-parent-target=".form-setup.brand.update"
                                            data-input-target="input[name=secondary_logo]"
                                            class="badge badge-info tx-bold">Change</a>
                                        <a href="#" data-trigger="delete-secondary-logo"
                                            class="badge badge-danger tx-bold d-none">X</a>
                                    </div>
                                </div>
                                <input type="hidden" name="secondary_logo">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="form-group pos-relative">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Favicon</label>
                                <div class="pos-relative">
                                    <img src="#" onerror="this.src='/static/images/default-img.png';"
                                        class="img-fluid img-thumbnail wd-100p ht-100 favicon">
                                    <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                        <a href="#" data-toggle="media-library" data-filter="image"
                                            data-parent-target=".form-setup.brand.update"
                                            data-input-target="input[name=favicon]"
                                            class="badge badge-info tx-bold">Change</a>
                                        <a href="#" data-trigger="delete-favicon"
                                            class="badge badge-danger tx-bold d-none">X</a>
                                    </div>
                                </div>
                                <input type="hidden" name="favicon">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="form-group pos-relative">
                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Featured Image</label>
                                <div class="pos-relative wd-150">
                                    <img src="#" onerror="this.src='/static/images/default-img.png';"
                                        class="img-fluid img-thumbnail wd-100p ht-100 featured-image">
                                    <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                        <a href="#" data-toggle="media-library" data-filter="image"
                                            data-parent-target=".form-setup.brand.update"
                                            data-input-target="input[name=featured_image]"
                                            class="badge badge-info tx-bold">Change</a>
                                        <a href="#" data-trigger="delete-fi"
                                            class="badge badge-danger tx-bold d-none">X</a>
                                    </div>
                                </div>
                                <input type="hidden" name="featured_image">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mg-b-10">
                        <a href="#" data-toggle="media-library" data-filter="image" data-multiple="yes"
                            data-parent-target=".form-setup.brand.update"
                            data-input-target="input[name=attachment_image]" class="badge badge-secondary">Add Image
                            Attachment</a>
                        <input type="hidden" name="attachment_image">
                    </div>
                    <div class="row row-sm text-center image-attachment">
                    </div>
                    <!-- form-group -->
                    <div class="card mg-t-15 bd-0">
                        <div class="card-header d-flex bg-gray-300 bd-b-0-f pd-b-0">
                            <div class="flex-grow-1">
                                <nav class="nav nav-tabs">
                                    <a class="nav-link tx-medium text-uppercase" data-toggle="tab"
                                        href="#tab-item-default">Default</a>
                                </nav>
                            </div>
                            <div class="form-group mg-0" style="margin-top: -5.5px;">
                                <select class="form-control translate-to" placeholder="Translate To"
                                    style="width:120px !important">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <!-- card-header -->
                        <div class="card-body tab-content bd bd-1 bd-t-0">
                            <div id="tab-item-default" class="tab-pane fade">
                                <input type="hidden" name="lang" required>
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Tagline</label>
                                    <span class="float-right">
                                        <a href="#" class="badge badge-danger tx-bold"
                                            data-trigger="delete-tab">Remove</a>
                                    </span>
                                    <input type="text" name="tagline" class="form-control" placeholder="Tagline">
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                    <textarea name="description" rows="3" class="form-control"
                                        placeholder="Description"></textarea>
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Content</label>
                                    <textarea name="content" rows="3" class="form-control"
                                        placeholder="Content"></textarea>
                                </div><!-- form-group -->
                            </div>
                            <!-- tab-pane -->
                        </div>
                        <!-- card-body -->
                    </div>
                    <!-- card -->
                </div><!-- modal-body -->
                <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal"
                        aria-label="Close">Close</button>
                    <button class="btn btn-purple" type="submit">Save Change</button>
                </div>
            </form>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form brand update -->

{{include "media/modal"}}
<!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
<script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
<script src="/static/lib/select2/js/select2.min.js"></script>
<script src="/static/lib/parsleyjs/parsley.min.js"></script>
<script src="/static/lib/tinymce/tinymce.min.js"></script>
<script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
<script src="/static/js/app/app.media.library.js"></script>
<script src="/static/js/app/app.setup.brands.js"></script>
{{end}}