<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Corporate Panel</span>
                    <span>Setup</span>
                    <span>Cities</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Setup Cities</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-light btn-refresh-table">Refresh</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-city" data-backdrop="static" data-keyboard="false">Add</button>
                    </div>
                </div>
                
                <div>
                    <table id="datatable-cities" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="1">No</th>
                                <th>Code</th>
                                <th>City Name</th>
                                <th style="width: 150px;">Order</th>
                                <th style="width: 150px;">Created At</th>
                                <th style="width: 100px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-city" class="modal fade effect-scale">
        <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/cities" type="post" class="form-setup city add" data-parsley-validate>
                    <div class="modal-header">
                        <h6 class="modal-title">Add City</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-sm">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">City Code</label>
                                    <input type="text" name="code" class="form-control" placeholder="City Code" required>
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">City Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="City Name" required>
                                </div><!-- form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Featured Image</label>
                                    <div class="pos-relative wd-100p">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-120 featured-image">
                                        <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.city.add" data-input-target="input[name=featured_image]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-fi" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="featured_image">
                                </div>
                                <!-- form-group -->  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                            <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                            <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                        </div><!-- form-group -->
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form brand add -->

    <div id="modal-form-city-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/cities" type="put" class="form-setup city update" data-parsley-validate>
                    <div class="modal-header">
                        <h6 class="modal-title">Update City</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id">
                        <div class="row row-sm">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">City Code</label>
                                    <input type="text" name="code" class="form-control" placeholder="City Code" required>
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">City Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="City Name" required>
                                </div><!-- form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Featured Image</label>
                                    <div class="pos-relative wd-100p">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-120 featured-image">
                                        <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.city.update" data-input-target="input[name=featured_image]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-fi" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="featured_image">
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="card description mg-t-15 bd-0 d-none">
                            <div class="card-header d-flex bg-gray-300 bd-b-0-f pd-b-0">
                                <div class="flex-grow-1">    
                                    <nav class="nav nav-tabs">
                                        <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-desc-default">Default</a>
                                    </nav>
                                </div>
                                <div class="form-group mg-0" style="margin-top: -5.5px;">
                                    <select class="form-control translate-to" placeholder="Translate To" style="width:120px !important">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <!-- card-header -->
                            <div class="card-body tab-content pd-l-0 pd-r-0 pd-b-0">
                                <div id="tab-desc-default" class="tab-pane fade">
                                    <input type="hidden" name="lang" required>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                        <span class="float-right">
                                            <a href="#" class="badge badge-danger tx-bold" data-trigger="delete-tab">Remove</a>
                                        </span>
                                        <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                    </div><!-- form-group -->
                                </div>
                                <!-- tab-pane -->
                            </div>
                            <!-- card-body -->
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                            <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                        </div><!-- form-group -->
                        <!-- card -->
                    </div><!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form brand update -->

    {{include "media/modal"}}
    <!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/tinymce/tinymce.min.js"></script>
    <script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.setup.cities.js"></script>
{{end}}