<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
{{end}}
{{define "content"}}
<div class="az-content">
    <div class="container-fluid">
        <div class="az-content-body">
            <div class="az-content-breadcrumb">
                <span>Corporate Panel</span>
                <span>Setup</span>
                <span>Corporate</span>
            </div>
            <div class="az-dashboard-one-title mg-b-20">
                <div>
                    <h2 class="az-dashboard-title">Setup Corporate</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <form action="/setup/corporate" type="post" class="form-setup corporate" data-parsley-validate>
                                <input type="hidden" name="corporate_id" required>
                                <div class="row row-sm">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Corporate Name</label>
                                            <input type="text" name="corporate_name" class="form-control" placeholder="Corporate Name" required>
                                        </div>
                                        <!-- form-group -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Display Name</label>
                                            <input type="text" name="corporate_display_name" class="form-control" placeholder="Display Name">
                                        </div>
                                        <!-- form-group -->
                                    </div>
                                </div>
                                <!-- form-group -->
                                <div class="row row-sm">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Phone</label>
                                            <input type="phone" name="phone" class="form-control" placeholder="Phone number">
                                        </div>
                                        <!-- form-group -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Fax</label>
                                            <input type="text" name="fax" class="form-control" placeholder="Fax number">
                                        </div>
                                        <!-- form-group -->
                                    </div>
                                </div>
                                <!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Address</label>
                                    <textarea name="address" rows="3" class="form-control" placeholder="Address"></textarea>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Latitude</label>
                                            <input type="text" name="latitude" class="form-control" placeholder="Latitude">
                                        </div>
                                        <!-- form-group -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Longitude</label>
                                            <input type="text" name="longitude" class="form-control" placeholder="Longitude">
                                        </div>
                                        <!-- form-group -->
                                    </div>
                                </div>
                                <!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Booking Url</label>
                                    <input type="text" name="booking_url" class="form-control" placeholder="Booking Url">
                                </div>
                                <!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">City</label>
                                    <select name="city" class="form-control select2 city" style="width:100% !important">
                                        <option label="Choose one"></option>
                                    </select>
                                </div>
                                <!-- form-group -->
                                <div class="row row-sm">
                                    <div class="col-md-3">
                                        <div class="form-group pos-relative">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Primary Logo</label>
                                            <div class="pos-relative wd-100p">
                                                <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 logo">
                                                <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                    <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.corporate" data-input-target="input[name=logo]" class="badge badge-info tx-bold">Change</a>
                                                    <a href="#" data-trigger="delete-logo" class="badge badge-danger tx-bold d-none">X</a>
                                                </div>
                                            </div>
                                            <input type="hidden" name="logo">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pos-relative">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Secondary Logo</label>
                                            <div class="pos-relative wd-100p">
                                                <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 secondary-logo">
                                                <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                    <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.corporate" data-input-target="input[name=secondary_logo]" class="badge badge-info tx-bold">Change</a>
                                                    <a href="#" data-trigger="delete-secondary-logo" class="badge badge-danger tx-bold d-none">X</a>
                                                </div>
                                            </div>
                                            <input type="hidden" name="secondary_logo">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pos-relative">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Favicon</label>
                                            <div class="pos-relative wd-100p">
                                                <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 favicon">
                                                <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                    <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.corporate" data-input-target="input[name=favicon]" class="badge badge-info tx-bold">Change</a>
                                                    <a href="#" data-trigger="delete-favicon" class="badge badge-danger tx-bold d-none">X</a>
                                                </div>
                                            </div>
                                            <input type="hidden" name="favicon">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pos-relative">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Featured Image</label>
                                            <div class="pos-relative wd-100p">
                                                <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 featured-image">
                                                <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                    <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.corporate" data-input-target="input[name=featured_image]" class="badge badge-info tx-bold">Change</a>
                                                    <a href="#" data-trigger="delete-fi" class="badge badge-danger tx-bold d-none">X</a>
                                                </div>
                                            </div>
                                            <input type="hidden" name="featured_image">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mg-b-10">
                                    <a href="#" data-toggle="media-library" data-filter="image" data-multiple="yes" data-parent-target=".form-setup.corporate" data-input-target="input[name=attachment_image]" class="badge badge-secondary">Add Image Attachment</a>
                                    <input type="hidden" name="attachment_image">
                                </div>
                                <div class="row row-sm text-center image-attachment">
                                </div>
                                <!-- form-group -->
                                <div class="card mg-t-15 mg-b-30 bd-0">
                                    <div class="card-header d-flex bg-gray-300 bd-b-0-f pd-b-0">
                                        <div class="flex-grow-1">
                                            <nav class="nav nav-tabs">
                                                <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-item-default">Default</a>
                                            </nav>
                                        </div>
                                        <div class="form-group mg-0" style="margin-top: -5.5px;">
                                            <select class="form-control translate-to" placeholder="Translate To" style="width:120px !important">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- card-header -->
                                    <div class="card-body tab-content bd bd-1 bd-t-0">
                                        <div id="tab-item-default" class="tab-pane fade">
                                            <input type="hidden" name="lang" required>
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Tagline</label>
                                                <span class="float-right">
                                                    <a href="#" class="badge badge-danger tx-bold" data-trigger="delete-tab">Remove</a>
                                                </span>
                                                <input type="text" name="tagline" class="form-control" placeholder="Tagline">
                                            </div>
                                            <!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                                <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                            </div>
                                            <!-- form-group -->
                                        </div>
                                        <!-- tab-pane -->
                                    </div>
                                    <!-- card-body -->
                                </div>
                                <!-- card -->
                                <button class="btn btn-purple btn-block" type="submit">Save Change</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- az-content-body -->
    </div><!-- container-fluid -->
</div><!-- az-content -->

{{include "media/modal"}}
<!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
<script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
<script src="/static/lib/select2/js/select2.min.js"></script>
<script src="/static/lib/parsleyjs/parsley.min.js"></script>
<script src="/static/lib/tinymce/tinymce.min.js"></script>
<script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
<script src="/static/js/app/app.media.library.js"></script>
<script src="/static/js/app/app.setup.corporate.js"></script>
{{end}}