<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<link href="/static/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="/static/lib/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css" rel="stylesheet">
<style>
    .treeview span.indent{
        margin-left:20px !important;
        margin-right:20px !important;
    }
    .treeview .list-group-item > a {
        color: #3b4863 !important;
    }
    .treeview .list-group-item.node-selected > a {
        color: #FFFFFF !important;
    }
    .table-icons input.search-control {
        width: 100% !important;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Corporate Panel</span>
                    <span>Setup</span>
                    <span>Master Facilities</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Setup Master Facilities</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-light btn-refresh-table">Refresh</button>
                    </div>
                </div>
                
                <div class="row row-sm">
                    <div class="col-md-6">
                        <div class="card bd">
                            <div class="card-header tx-medium">
                                Hotel Facilities
                            </div><!-- card-header -->
                            <div class="card-body bd-t">
                                <form action="/facility/primary" class="form-filter facility" data-type="facility">
                                    <div class="d-flex mg-b-10">
                                        <div class="flex-grow-1">
                                            <div class="input-group wd-90p">
                                                <input type="text" name="search" class="form-control" placeholder="Search ...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-secondary pd-t-8 pd-b-8" type="submit"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal-form-facility">Add</button>
                                    </div>
                                </form>
                                <div class="alert alert-outline-warning mg-b-0 tx-center d-none" role="alert">No items.</div>
                                <div id="hotelFacilitiesTree">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bd">
                            <div class="card-header tx-medium">
                                Room Amenities
                            </div><!-- card-header -->
                            <div class="card-body bd-t">
                                <form action="/amenities/primary" class="form-filter amenities" data-type="amenities">
                                    <div class="d-flex mg-b-10">
                                        <div class="flex-grow-1">
                                            <div class="input-group wd-90p">
                                                <input type="text" name="search" class="form-control" placeholder="Search ...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-secondary pd-t-8 pd-b-8" type="submit"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal-form-amenities">Add</button>
                                    </div>
                                </form>
                                <div class="alert alert-outline-warning mg-b-0 tx-center d-none" role="alert">No items.</div>
                                <div id="roomAmenitiesTree">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-facility" class="modal fade effect-scale">
        <div class="modal-dialog wd-75p" role="document" style="max-width: 100%;">
            <div class="modal-content">
                <form action="/facility" type="post" class="form-setup facility add" data-parsley-validate data-parsley-errors-messages-disabled>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Facility</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-sm item-facility">
                            <input type="hidden" name="icon" required>
                            <input type="hidden" name="type" value="facility" required>
                            <input type="hidden" name="lang" class="primary-lang" required>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Facility Name" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Facilities</label>
                                    <select name="parent_id" class="form-control" style="width:100% !important">
                                        <option label="Choose one"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                    <input type="text" name="description" class="form-control" placeholder="Description">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Icon</label>
                                    <select name="filter_icon" class="form-control filter_icon" style="width:100% !important">
                                        <option value="image">image</option>
                                        <option value="font">font-icon</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group filter-image-icon">
                                    <input type="hidden" name="icon_image">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Image Icon</label>
                                    <button 
                                        type="button"
                                        data-toggle="media-library" 
                                        data-filter="icon" 
                                        data-self-parent="yes"
                                        data-parent-target=".row.item-facility"
                                        data-input-target="input[name=icon_image]"
                                        class="btn btn-outline-dark btn-block">
                                        Choose
                                    </button>
                                </div>
                                <div class="form-group filter-image-font d-none">
                                    <input type="hidden" name="icon_font">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Font Icon</label>
                                    <button class="btn btn-outline-dark btn-block iconpicker"></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <div class="flex-grow-1">
                            <div class="form-row form-insert-row align-items-center">
                                <div class="col-auto">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        Add
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <select name="row" class="form-control select2 input-row" style="width: 90px;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        row(s)
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary go-btn">GO</button>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form hotel facilities add -->

    <div id="modal-form-facility-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Facility</h5>
                        <form class="form-inline">
                            <div class="form-group d-none">
                                <select class="form-control select2 translate-to" placeholder="Translate To" style="width:120px !important">
                                    <option></option>
                                </select>
                            </div>
                            <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </form>
                    </div>
                    <form action="/facility" type="put" class="form-setup facility update" data-parsley-validate>
                        <div class="modal-body pd-0">
                            <input type="hidden" name="id" required>
                            <input type="hidden" name="icon" required>
                            <div class="card bd-0">
                                <div class="card-header bg-gray-300 bd-b-0-f pd-b-0">
                                    <nav class="nav nav-tabs">
                                        <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-tag-default">Default</a>
                                    </nav>
                                </div><!-- card-header -->
                                <div class="card-body tab-content">
                                    <div id="tab-tag-default" class="tab-pane fade">
                                        <input type="hidden" name="lang" required>
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                            <input type="text" name="title" class="form-control" placeholder="Title">
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                            <input type="text" name="description" class="form-control" placeholder="Description">
                                        </div>
                                        <!-- form-group -->
                                        <div class="row row-sm">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Facility</label>
                                                    <select name="parent_id" class="form-control" style="width:100% !important">
                                                        <option label="Choose one"></option>
                                                    </select>
                                                </div>
                                                <!-- form-group -->
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Icon</label>
                                                    <select name="filter_icon" class="form-control filter_icon" style="width:100% !important">
                                                        <option value="image">image</option>
                                                        <option value="font">font-icon</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group filter-image-icon">
                                                    <input type="hidden" name="icon_image">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Image Icon</label>
                                                    <button type="button" 
                                                        data-toggle="media-library" 
                                                        data-filter="icon"
                                                        data-self-parent="yes"
                                                        data-parent-target="form" 
                                                        data-input-target="input[name=icon_image]"
                                                        class="btn btn-outline-dark btn-block"
                                                    >Choose</button>
                                                </div>
                                                <div class="form-group filter-image-font d-none">
                                                    <input type="hidden" name="icon_font">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Font Icon</label>
                                                    <button class="btn btn-outline-dark btn-block iconpicker"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- tab-pane -->
                                </div><!-- card-body -->
                            </div>
                        </div><!-- modal-body -->
                        <div class="modal-footer d-flex pd-l-20 pd-r-20 pd-t-9 pd-b-9">
                            <div class="flex-grow-1">
                                <a href="/facility" class="btn btn-outline-danger d-none" data-trigger="delete-tab">Delete</a>
                            </div>
                            <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                            <button class="btn btn-purple" type="submit">Save Change All</button>
                        </div>
                    </form>
                </div><!-- modal-content -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form facility update -->

    <div id="modal-form-amenities" class="modal fade effect-scale">
        <div class="modal-dialog wd-75p" role="document" style="max-width: 100%;">
            <div class="modal-content">
                <form action="/amenities" type="post" class="form-setup amenities add" data-parsley-validate
                    data-parsley-errors-messages-disabled>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Amenities</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-sm item-facility">
                            <input type="hidden" name="icon" required>
                            <input type="hidden" name="type" value="amenities" required>
                            <input type="hidden" name="lang" class="primary-lang" required>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Amenities Name"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Amenities</label>
                                    <select name="parent_id" class="form-control" style="width:100% !important">
                                        <option label="Choose one"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                    <input type="text" name="description" class="form-control" placeholder="Description">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Icon</label>
                                    <select name="filter_icon" class="form-control filter_icon"
                                        style="width:100% !important">
                                        <option value="image">image</option>
                                        <option value="font">font-icon</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group filter-image-icon">
                                    <input type="hidden" name="icon_image">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Image Icon</label>
                                    <button type="button" data-toggle="media-library" data-filter="icon"
                                        data-self-parent="yes" data-parent-target=".row.item-facility"
                                        data-input-target="input[name=icon_image]" class="btn btn-outline-dark btn-block">
                                        Choose
                                    </button>
                                </div>
                                <div class="form-group filter-image-font d-none">
                                    <input type="hidden" name="icon_font">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Font Icon</label>
                                    <button class="btn btn-outline-dark btn-block iconpicker"></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <div class="flex-grow-1">
                            <div class="form-row form-insert-row align-items-center">
                                <div class="col-auto">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        Add
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <select name="row" class="form-control select2 input-row" style="width: 90px;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        row(s)
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary go-btn">GO</button>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal"
                            aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form hotel amenities add -->
    
    <div id="modal-form-amenities-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Amenities</h5>
                        <form class="form-inline">
                            <div class="form-group d-none">
                                <select class="form-control select2 translate-to" placeholder="Translate To" style="width:120px !important">
                                    <option></option>
                                </select>
                            </div>
                            <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </form>
                    </div>
                    <form action="/amenities" type="put" class="form-setup amenities update" data-parsley-validate>
                        <div class="modal-body pd-0">
                            <input type="hidden" name="id" required>
                            <input type="hidden" name="icon" required>
                            <div class="card bd-0">
                                <div class="card-header bg-gray-300 bd-b-0-f pd-b-0">
                                    <nav class="nav nav-tabs">
                                        <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-tag-default">Default</a>
                                    </nav>
                                </div><!-- card-header -->
                                <div class="card-body tab-content">
                                    <div id="tab-tag-default" class="tab-pane fade">
                                        <input type="hidden" name="lang" required>
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                            <input type="text" name="title" class="form-control" placeholder="Title">
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                            <input type="text" name="description" class="form-control" placeholder="Description">
                                        </div>
                                        <!-- form-group -->
                                        <div class="row row-sm">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Amenities</label>
                                                    <select name="parent_id" class="form-control" style="width:100% !important">
                                                        <option label="Choose one"></option>
                                                    </select>
                                                </div>
                                                <!-- form-group -->
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Icon</label>
                                                    <select name="filter_icon" class="form-control filter_icon" style="width:100% !important">
                                                        <option value="image">image</option>
                                                        <option value="font">font-icon</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group filter-image-icon">
                                                    <input type="hidden" name="icon_image">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Image Icon</label>
                                                    <button type="button" 
                                                        data-toggle="media-library" 
                                                        data-filter="icon"
                                                        data-self-parent="yes"
                                                        data-parent-target="form" 
                                                        data-input-target="input[name=icon_image]"
                                                        class="btn btn-outline-dark btn-block"
                                                    >Choose</button>
                                                </div>
                                                <div class="form-group filter-image-font d-none">
                                                    <input type="hidden" name="icon_font">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Font Icon</label>
                                                    <button class="btn btn-outline-dark btn-block iconpicker"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- tab-pane -->
                                </div><!-- card-body -->
                            </div>
                        </div><!-- modal-body -->
                        <div class="modal-footer d-flex pd-l-20 pd-r-20 pd-t-9 pd-b-9">
                            <div class="flex-grow-1">
                                <a href="/amenities" class="btn btn-outline-danger d-none" data-trigger="delete-tab">Delete</a>
                            </div>
                            <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                            <button class="btn btn-purple" type="submit">Save Change All</button>
                        </div>
                    </form>
                </div><!-- modal-content -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form amenities update -->

    {{include "media/modal"}}
    <!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/bootstrap-treeview/bootstrap-treeview.js"></script>
    <script src="/static/lib/bootstrap-iconpicker/js/bootstrap-iconpicker.bundle.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.setup.facilities.js"></script>
{{end}}