<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<style>
.treeview span.indent{
    margin-left:20px !important;
    margin-right:20px !important;
}
.treeview span.icon {
    margin-right: 1px !important;
}
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Corporate Panel</span>
                    <span>Setup</span>
                    <span>Hotels</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Setup Hotels</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-light btn-refresh-table">Refresh</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-hotel">Add</button>
                    </div>
                </div>
                
                <div>
                    <table id="datatable-hotels" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="1">No</th>
                                <th>Logo</th>
                                <th>Code</th>
                                <th>Hotel Name</th>
                                <th width="80">Order</th>
                                <th width="250">Brand</th>
                                <th width="150">City</th>
                                <th width="200">Created At</th>
                                <th width="100">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-hotel" class="modal fade effect-scale">
        <div class="modal-dialog wd-800" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/hotels" type="post" class="form-setup hotel add" data-parsley-validate>
                    <div class="modal-header">
                        <h6 class="modal-title">Add Hotel</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-sm">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand</label>
                                    <div id="slBrandWrapper" class="parsley-select">
                                        <select name="brand_id" class="form-control select2 brand" style="width:100% !important"
                                            data-parsley-class-handler="#slBrandWrapper" data-parsley-errors-container="#brandError" required>
                                            <option label="Choose one"></option>
                                        </select>
                                        <div id="brandError"></div>
                                    </div>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Hotel Code</label>
                                    <input type="text" name="hotel_code" class="form-control" placeholder="Hotel Code" required>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="row row-sm">                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Hotel Name</label>
                                    <input type="text" name="hotel_name" class="form-control" placeholder="Hotel Name" required>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Display Hotel Name</label>
                                    <input type="text" name="hotel_display_name" class="form-control" placeholder="Display Hotel Name">
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Booking Url</label>
                            <input type="text" name="booking_url" class="form-control" placeholder="Booking Url">
                        </div>
                        <!-- form-group -->
                        <div class="row row-sm">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Corporate Booking Code</label>
                                    <input type="text" name="corporate_booking_code" class="form-control" placeholder="Booking Code">
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand Booking Code</label>
                                    <input type="text" name="brand_booking_code" class="form-control" placeholder="Booking Code">
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Hotel Booking Code</label>
                                    <input type="text" name="hotel_booking_code" class="form-control" placeholder="Booking Code">
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Phone</label>
                            <input type="phone" name="phone" class="form-control" placeholder="Phone number">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Fax</label>
                            <input type="text" name="fax" class="form-control" placeholder="Fax number">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Address</label>
                            <textarea name="address" rows="3" class="form-control" placeholder="Address"></textarea>
                        </div>
                        <!-- form-group -->
                        <div class="row row-md">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Latitude</label>
                                    <input type="latitude" name="latitude" class="form-control" placeholder="Latitude">
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Longitude</label>
                                    <input type="longitude" name="longitude" class="form-control" placeholder="Longitude">
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">City</label>
                            <select name="city" class="form-control select2 city add" style="width:100% !important">
                                <option label="Choose one"></option>
                            </select>
                        </div>
                        <!-- form-group -->                        
                        <div class="row row-sm">
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Primary Logo</label>
                                    <div class="pos-relative">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 logo">
                                        <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.hotel.add" data-input-target="input[name=logo]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-logo" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="logo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Secondary Logo</label>
                                    <div class="pos-relative">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 secondary-logo">
                                        <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.hotel.add" data-input-target="input[name=secondary_logo]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-secondary-logo" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="secondary_logo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Favicon</label>
                                    <div class="pos-relative">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 favicon">
                                        <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.hotel.add" data-input-target="input[name=favicon]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-favicon" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="favicon">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Featured Image</label>
                                    <div class="pos-relative">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 featured-image">
                                        <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.hotel.add" data-input-target="input[name=featured_image]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-fi" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="featured_image">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mg-b-10">
                            <a href="#" data-toggle="media-library" data-filter="image" data-multiple="yes" data-parent-target=".form-setup.hotel.add" data-input-target="input[name=attachment_image]" class="badge badge-secondary">Add Image Attachment</a>
                            <input type="hidden" name="attachment_image">
                        </div>
                        <div class="row row-sm text-center image-attachment">
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Tagline</label>
                            <input type="text" name="tagline" class="form-control" placeholder="Tagline">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                            <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Custom Field</label>
                            <input type="text" name="custom_field" class="form-control" placeholder="Custom Field">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Custom Link</label>
                            <input type="text" name="custom_link" class="form-control" placeholder="Custom Link">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Status</label>
                            <div class="mg-t-5"></div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" value="active" checked>
                                <label class="form-check-label">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" value="development">
                                <label class="form-check-label">Development</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" value="inactive">
                                <label class="form-check-label">Inactive</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                            <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Facilities</label>
                            <div class="hotelFacilitiesTree add">
                            </div>
                        </div>
                        <!-- form-group -->
                        <div class="mg-b-15"></div>
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form brand add -->

    <div id="modal-form-hotel-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-800" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/hotels" type="put" class="form-setup hotel update" data-parsley-validate>
                    <div class="modal-header">
                        <h6 class="modal-title">Update Hotel</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="hotel_id">
                        <div class="row row-sm">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand</label>
                                    <div id="slBrandWrapperEdt" class="parsley-select">
                                        <select name="brand_id" class="form-control select2 brand" style="width:100% !important"
                                            data-parsley-class-handler="#slBrandWrapperEdt" data-parsley-errors-container="#brandErrorEdt" required>
                                            <option label="Choose one"></option>
                                        </select>
                                        <div id="brandErrorEdt"></div>
                                    </div>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Hotel Code</label>
                                    <input type="text" name="hotel_code" class="form-control" placeholder="Hotel Code" required>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="row row-sm">                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Hotel Name</label>
                                    <input type="text" name="hotel_name" class="form-control" placeholder="Hotel Name" required>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Display Hotel Name</label>
                                    <input type="text" name="hotel_display_name" class="form-control" placeholder="Display Hotel Name">
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Booking Url</label>
                            <input type="text" name="booking_url" class="form-control" placeholder="Booking Url">
                        </div>
                        <!-- form-group -->
                        <div class="row row-sm">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Corporate Booking Code</label>
                                    <input type="text" name="corporate_booking_code" class="form-control" placeholder="Booking Code">
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand Booking Code</label>
                                    <input type="text" name="brand_booking_code" class="form-control" placeholder="Booking Code">
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Hotel Booking Code</label>
                                    <input type="text" name="hotel_booking_code" class="form-control" placeholder="Booking Code">
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Phone</label>
                            <input type="phone" name="phone" class="form-control" placeholder="Phone number">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Fax</label>
                            <input type="text" name="fax" class="form-control" placeholder="Fax number">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Address</label>
                            <textarea name="address" rows="3" class="form-control" placeholder="Address"></textarea>
                        </div>
                        <!-- form-group -->
                        <div class="row row-md">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Latitude</label>
                                    <input type="latitude" name="latitude" class="form-control" placeholder="Latitude">
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Longitude</label>
                                    <input type="longitude" name="longitude" class="form-control" placeholder="Longitude">
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">City</label>
                            <select name="city" class="form-control select2 city edit" style="width:100% !important">
                                <option label="Choose one"></option>
                            </select>
                        </div>
                        <!-- form-group -->
                        <div class="row row-sm">
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Logo</label>
                                    <div class="pos-relative">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 logo">
                                        <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.hotel.update" data-input-target="input[name=logo]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-logo" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="logo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Secondary Logo</label>
                                    <div class="pos-relative">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 secondary-logo">
                                        <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.hotel.update" data-input-target="input[name=secondary_logo]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-secondary-logo" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="secondary_logo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Favicon</label>
                                    <div class="pos-relative">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 favicon">
                                        <div class="logo-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.hotel.update" data-input-target="input[name=favicon]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-favicon" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="favicon">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Featured Image</label>
                                    <div class="pos-relative">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-100 featured-image">
                                        <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-filter="image" data-parent-target=".form-setup.hotel.update" data-input-target="input[name=featured_image]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-fi" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="featured_image">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mg-b-10">
                            <a href="#" data-toggle="media-library" data-filter="image" data-multiple="yes" data-parent-target=".form-setup.hotel.update" data-input-target="input[name=attachment_image]" class="badge badge-secondary">Add Image Attachment</a>
                            <input type="hidden" name="attachment_image">
                        </div>
                        <div class="row row-sm text-center image-attachment">
                        </div>
                        <div class="card mg-t-15 mg-b-15 bd-0">
                            <div class="card-header d-flex bg-gray-300 bd-b-0-f pd-b-0">
                                <div class="flex-grow-1">
                                    <nav class="nav nav-tabs">
                                        <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-item-default">Default</a>
                                    </nav>
                                </div>
                                <div class="form-group mg-0" style="margin-top: -5.5px;">
                                    <select class="form-control translate-to" placeholder="Translate To" style="width:120px !important">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <!-- card-header -->
                            <div class="card-body tab-content bd bd-1 bd-t-0">
                                <div id="tab-item-default" class="tab-pane fade">
                                    <input type="hidden" name="lang" required>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Tagline</label>
                                        <span class="float-right">
                                            <a href="#" class="badge badge-danger tx-bold" data-trigger="delete-tab">Remove</a>
                                        </span>
                                        <input type="text" name="tagline" class="form-control" placeholder="Tagline">
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group mg-b-25">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                        <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Custom Field</label>
                                        <input type="text" name="custom_field" class="form-control" placeholder="Custom Field">
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Custom Link</label>
                                        <input type="text" name="custom_link" class="form-control" placeholder="Custom Link">
                                    </div>
                                    <!-- form-group -->
                                </div>
                                <!-- tab-pane -->
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Status</label>
                            <div class="mg-t-5"></div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" value="active" checked>
                                <label class="form-check-label">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" value="development">
                                <label class="form-check-label">Development</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" value="inactive">
                                <label class="form-check-label">Inactive</label>
                            </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                            <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Facilities</label>
                            <div class="hotelFacilitiesTree update">
                            </div>
                        </div>
                        <!-- form-group -->
                        <div class="mg-b-15"></div>
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form brand update -->

    {{include "media/modal"}}
    <!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/bootstrap-treeview/bootstrap-treeview.js"></script>
    <script src="/static/lib/tinymce/tinymce.min.js"></script>
    <script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.setup.hotels.js"></script>
{{end}}