<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Corporate Panel</span>
                    <span>Setup</span>
                    <span>Language</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Setup Language</h2>
                    </div>
                </div>
                
                <div class="row row-sm">
                    <div class="col-md-6">
                        <form action="/lang" type="post" class="form-setup lang" data-parsley-validate data-parsley-errors-messages-disabled>
                            <input type="hidden" name="name" required>
                            <input type="hidden" name="native" required>
                            <div class="form-row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Language</label>
                                        <div id="slLang" class="parsley-select">
                                            <select name="code" class="form-control select2 lang" style="width:100% !important" data-parsley-class-handler="#slLang" data-parsley-errors-container="#langError" required>
                                                <option label="Choose one"></option>
                                            </select>
                                            <div id="langError"></div>
                                        </div>
                                    </div>
                                    <!-- form-group -->
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-secondary btn-block pd-t-0 pd-b-0" style="margin-top: 27px;" type="submit">Activate Lang</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row row-sm">
                    <div class="col-md-6">
                        <div class="card card-table-one">
                            <h6 class="card-title">Actived Language</h6>
                            <div class="alert alert-outline-warning tx-center mg-t-20 langInfo" role="alert">No items.</div>
                            <div class="table-responsive mg-t-20">
                                <table class="table actived-language">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Language</th>
                                            <th>Native</th>
                                            <th>Status Lang</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div>
                    </div>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.setup.lang.js"></script>
{{end}}