<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Corporate Panel</span>
                    <span>Setup</span>
                    <span>Page Duplicator</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Page Duplicator</h2>
                    </div>
                </div>
                
                <div class="row row-sm">
                    <div class="col-md-6">
                        <div class="card card-table-one">
                            <form action="/page/duplicator" type="post" class="form-setup duplicator" data-parsley-validate data-parsley-errors-messages-disabled>
                                <div class="row row-sm">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" name="source[name]">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Source</label>
                                            <div id="sl-src" class="parsley-select">
                                                <select name="source[id]" class="form-control" placeholder="Select Source" style="width:100% !important" data-parsley-class-handler="#sl-src" data-parsley-errors-container="#sl-src-error" required>
                                                    <option label="Choose"></option>
                                                </select>
                                                <div id="sl-src-error"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" name="destination[name]">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Source</label>
                                            <div id="sl-dst" class="parsley-select">
                                                <select name="destination[id]" class="form-control" placeholder="Select Destination" style="width:100% !important" data-parsley-class-handler="#sl-dst" data-parsley-errors-container="#sl-dst-error" required>
                                                    <option label="Choose"></option>
                                                </select>
                                                <div id="sl-dst-error"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Category</label>
                                            <select name="source[category_id]" placeholder="Select Category" class="form-control" style="width:100% !important">
                                                <option label="Choose one"></option>
                                            </select>
                                        </div>
                                        <!-- form-group -->
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-purple btn-block pd-t-0 pd-b-0" style="margin-top: 27px;">Duplicate</button>
                                    </div>
                                </div>
                                <div class="alert alert-outline-info info d-none" role="alert">No items.</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.setup.page-duplicator.js"></script>
{{end}}