<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
{{end}}
{{define "content"}}
<div class="az-content">
    <div class="container-fluid">
        <div class="az-content-body">
            <div class="az-content-breadcrumb">
                <span>Corporate Panel</span>
                <span>Setup</span>
                <span>Tag</span>
            </div>
            <div class="az-dashboard-one-title mg-b-20">
                <div>
                    <h2 class="az-dashboard-title">Tag</h2>
                </div>
                <div class="toolbar-right">
                    <button class="btn btn-light btn-refresh-table">Refresh</button>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal-form-tag">Add</button>
                </div>
            </div>

            <table id="datatable-tag" class="table table-hover">
                <thead>
                    <tr>
                        <th width="1">No</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th class="wd-70">Lang</th>
                        <th class="wd-250">Created at</th>
                        <th class="wd-100">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div><!-- az-content-body -->
    </div><!-- container-fluid -->
</div><!-- az-content -->

<div id="modal-form-tag" class="modal fade effect-scale">
    <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-content">
                <form action="/tag" type="post" class="form-tag add" data-parsley-validate>
                    <input type="hidden" name="lang" class="primary-lang" required>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Tag</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                            <input type="text" name="title" class="form-control" placeholder="Title">
                        </div>
                        <!-- form-group -->
                    </div><!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form tag add -->

<div id="modal-form-tag-update" class="modal fade effect-scale">
    <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Tag</h5>
                    <form class="form-inline">
                        <div class="form-group d-none">
                            <select class="form-control select2 translate-to" placeholder="Translate To" style="width:120px !important">
                                <option></option>
                            </select>
                        </div>
                        <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </form>
                </div>
                <form action="/tag" type="put" class="form-tag update" data-parsley-validate>
                    <div class="modal-body pd-0">
                        <input type="hidden" name="id" required>
                        <div class="card bd-0">
                            <div class="card-header bg-gray-300 bd-b-0-f pd-b-0">
                                <nav class="nav nav-tabs">
                                    <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-tag-default">Default</a>
                                </nav>
                            </div><!-- card-header -->
                            <div class="card-body tab-content">
                                <div id="tab-tag-default" class="tab-pane fade">
                                    <input type="hidden" name="lang" required>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                        <input type="text" name="name" class="form-control" placeholder="Name" required>
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                        <input type="text" name="title" class="form-control" placeholder="Title">
                                    </div>
                                    <!-- form-group -->
                                </div><!-- tab-pane -->
                            </div><!-- card-body -->
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-20 pd-r-20 pd-t-9 pd-b-9">
                        <div class="flex-grow-1">
                            <a href="/tag" class="btn btn-outline-danger d-none" data-trigger="delete-tab">Delete</a>
                        </div>
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change All</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form tag update -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
<script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
<script src="/static/lib/select2/js/select2.min.js"></script>
<script src="/static/lib/parsleyjs/parsley.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
<script src="/static/js/app/app.setup.tag.js"></script>
{{end}}