<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .ace-editor {
        border: 1px solid lightgray;
		min-height: 150px;
    }
</style>
{{end}}
{{define "content"}}
<div class="az-content">
    <div class="container-fluid">
        <div class="az-content-body">
            <div class="az-content-breadcrumb">
                <span>Corporate Panel</span>
                <span>Setup</span>
                <span>Widget</span>
            </div>
            <div class="az-dashboard-one-title mg-b-20">
                <div>
                    <h2 class="az-dashboard-title">Widgets</h2>
                </div>
                <div class="toolbar-right">
                    <button class="btn btn-light btn-refresh-table">Refresh</button>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal-form-widget">Add</button>
                </div>
            </div>

            <table id="datatable-widget" class="table table-hover">
                <thead>
                    <tr>
                        <th width="1">No</th>
                        <th>Name</th>
                        <th class="wd-70">Type</th>
                        <th class="wd-250">Created at</th>
                        <th class="wd-100">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div><!-- az-content-body -->
    </div><!-- container-fluid -->
</div><!-- az-content -->

<div id="modal-form-widget" class="modal fade effect-scale">
    <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-content">
                <form action="/widget" type="post" class="form-widget add" data-parsley-validate>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Widget</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-sm">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Widget Name" required>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Widget Type</label>
                                    <select name="widget" class="form-control widget" style="width:100% !important">
                                        <option value="form">Form</option>
                                    </select>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Input Code</label>
                            <input type="text" name="code" class="form-control" placeholder="Input Code">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Content</label>
                            <textarea name="content" data-editor="html" class="d-none"></textarea>
                        </div>
                        <!-- form-group -->
                    </div><!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form category add -->

<div id="modal-form-widget-update" class="modal fade effect-scale">
    <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Widget</h5>
                    <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action="/widget" type="put" class="form-widget update" data-parsley-validate>
                    <div class="modal-body">
                        <input type="hidden" name="id">
                        <div class="row row-sm">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Widget Name" required>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Widget Type</label>
                                    <select name="widget" class="form-control widget" style="width:100% !important">
                                        <option value="form">Form</option>
                                    </select>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Input Code</label>
                            <input type="text" name="code" class="form-control" placeholder="Input Code">
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Content</label>
                            <textarea name="content" data-editor="html" class="d-none"></textarea>
                        </div>
                        <!-- form-group -->
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-20 pd-r-20 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change All</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form category update -->

{{end}}
<!-- for js or css -->
{{define "footer"}}
<script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
<script src="/static/lib/select2/js/select2.min.js"></script>
<script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/ace-editor/ace.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
<script src="/static/js/app/app.media.library.js"></script>
<script src="/static/js/app/app.setup.widget.js"></script>
{{end}}