<!-- for js or css -->
{{define "header"}}
{{end}}
{{define "content"}}
    <div class="az-content az-content-dashboard-four">
        <div class="media media-dashboard">
            <div class="media-body">
                <div class="az-content-header">
                    <div>
                        <h6 class="az-content-title tx-18 mg-b-5">Dashboard</h6>
                        <p class="az-content-text tx-13 mg-b-0">Hi, welcome back !.</p>
                    </div>
                </div><!-- az-content-header -->
            </div><!-- media-body -->
        </div><!-- media -->
    </div><!-- az-content -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
{{end}}