<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<style type="text/css" media="screen">
    .ace-editor {
        border: 1px solid lightgray;
		height: 150px;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Setting</span>
                    <span>General</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">General Setting</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 mg-t-20 mg-md-t-0">
                        <div class="row">
                            <div class="col-md">
                                <div class="card bd">
                                    <div class="card-header tx-medium">
                                        General
                                    </div><!-- card-header -->
                                    <div class="card-body bd-t">
                                        <form action="/setting" type="put" class="form-setting general" data-parsley-validate>
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Site Title</label>
                                                <input type="text" name="site_title" class="form-control" placeholder="Site Title"
                                                    value="{{.setting.general.site_title}}" required>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Site Copyright</label>
                                                <input type="text" name="site_copyright" class="form-control" placeholder="Site Copyright"
                                                    value="{{.setting.general.site_copyright}}" required>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Language</label>
                                                <div id="slLangWrapper" class="parsley-select">
                                                    <select name="language" class="form-control select2 language" placeholder="Select State"
                                                        style="width:100% !important" data-parsley-class-handler="#slLangWrapper"
                                                        data-parsley-errors-container="#langError" data-lang="{{.setting.general.site_lang}}"
                                                        required>
                                                        <option label="Choose"></option>
                                                    </select>
                                                    <div id="langError"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Posts Per Page</label>
                                                <input type="text" name="posts_per_page" class="form-control" placeholder="Posts Per Page"
                                                    value="{{.setting.general.posts_per_page}}" data-parsley-type="integer" required>
                                            </div><!-- form-group -->
                                            <button class="btn btn-purple float-right" type="submit">Save Change</button>
                                        </form>
                                    </div><!-- card-body -->
                                </div><!-- card -->
                            </div><!-- col -->
                        </div>
                        <div class="row mg-t-30">
                            <div class="col-md">
                                <div class="card bd">
                                    <div class="card-header tx-medium">
                                        Default Meta
                                    </div><!-- card-header -->
                                    <div class="card-body bd-t pd-0">
                                        <form action="/setting/meta" type="put" class="form-setting meta" data-parsley-validate>
                                            <div class="card card-meta bd-0">
                                                <div class="card-header d-flex bg-gray-300 bd-b-0-f pd-b-0">
                                                    <div class="flex-grow-1">
                                                        <nav class="nav nav-tabs">
                                                            <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-meta-default">Default</a>
                                                        </nav>
                                                    </div>
                                                    <div class="form-group mg-0" style="margin-top: -5.5px;">
                                                        <select class="form-control translate-to" placeholder="Translate To" style="width:120px !important">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- card-header -->
                                                <div class="card-body tab-content pd-b-0">
                                                    <div id="tab-meta-default" class="tab-pane fade">
                                                        <input type="hidden" name="lang" required>
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Title</label>
                                                            <input type="text" name="meta_title" class="form-control" placeholder="Meta Title" required>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Description</label>
                                                            <input type="text" name="meta_description" class="form-control" placeholder="Meta Description">
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Keywords</label>
                                                            <input type="text" name="meta_keyword" class="form-control" placeholder="Meta Keywords">
                                                        </div>
                                                    </div>
                                                    <!-- tab-pane -->
                                                </div>
                                                <!-- card-body -->
                                            </div>
                                            <!-- card -->
                                            <div class="pd-l-20 pd-r-20 pd-b-20 tx-right">
                                                <button class="btn btn-purple" type="submit">Save Change</button>
                                            </div>
                                        </form>
                                    </div><!-- card-body -->
                                </div><!-- card -->
                            </div><!-- col -->
                        </div>
                        <div class="row mg-t-30">
                            <div class="col-md-12">
                                <div class="card bd">
                                    <div class="card-header tx-medium">
                                        Scripts
                                    </div><!-- card-header -->
                                    <div class="card-body bd-t">
                                        <form action="/setting/script" type="put" class="form-setting script">
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Header Script</label>
                                                <div id="header-script" class="ace-editor">{{.setting.script.header}}</div>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Body Script</label>
                                                <div id="body-script" class="ace-editor">{{.setting.script.body}}</div>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Booking Calendar Script</label>
                                                <div id="booking-calendar-script" class="ace-editor">{{.setting.script.booking_calendar}}</div>
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Themes Script</label>
                                                <div id="themes-script" class="ace-editor">{{.setting.script.themes}}</div>
                                            </div><!-- form-group -->
                                            <button class="btn btn-purple float-right" type="submit">Save Change</button>
                                        </form>
                                    </div><!-- card-body -->
                                </div><!-- card -->
                            </div><!-- col -->
                        </div>
                    </div>
                    <div class="col-md-5 mg-t-20 mg-md-t-0">
                        <div class="row">
                            <div class="col-md mg-b-30">
                                <div class="card bd">
                                    <div class="card-header tx-medium">
                                        Media
                                    </div><!-- card-header -->
                                    <div class="card-body bd-t">
                                        <form action="/setting/media" type="put" class="form-setting medias" data-parsley-validate>
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Thumbnail Size</label>
                                                <div class="row row-sm">
                                                    <div class="col-lg-6">
                                                        <input type="text" name="tbwidth" placeholder="Width" class="form-control"
                                                            value="{{.setting.media.thumbnail_size.width}}" data-parsley-type="integer" required>
                                                    </div><!-- col -->
                                                    <div class="col-lg-6">
                                                        <input type="text" name="tbheight" placeholder="Height" class="form-control"
                                                            value="{{.setting.media.thumbnail_size.height}}" data-parsley-type="integer" required>
                                                    </div><!-- col -->
                                                </div><!-- row -->
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Medium Size</label>
                                                <div class="row row-sm">
                                                    <div class="col-lg-6">
                                                        <input type="text" name="mdwidth" placeholder="Width" class="form-control"
                                                            value="{{.setting.media.medium_size.width}}" data-parsley-type="integer" required>
                                                    </div><!-- col -->
                                                    <div class="col-lg-6">
                                                        <input type="text" name="mdheight" placeholder="Height" class="form-control"
                                                            value="{{.setting.media.medium_size.height}}" data-parsley-type="integer" required>
                                                    </div><!-- col -->
                                                </div><!-- row -->
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Large Size</label>
                                                <div class="row row-sm">
                                                    <div class="col-lg-6">
                                                        <input type="text" name="lgwidth" placeholder="Width" class="form-control"
                                                            value="{{.setting.media.large_size.width}}" data-parsley-type="integer" required>
                                                    </div><!-- col -->
                                                    <div class="col-lg-6">
                                                        <input type="text" name="lgheight" placeholder="Height" class="form-control"
                                                            value="{{.setting.media.large_size.height}}" data-parsley-type="integer" required>
                                                    </div><!-- col -->
                                                </div><!-- row -->
                                            </div><!-- form-group -->
                                            <button class="btn btn-purple float-right" type="submit">Save Change</button>
                                        </form>
                                    </div><!-- card-body -->
                                </div><!-- card -->
                            </div><!-- col -->
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="card bd">
                                    <div class="card-header tx-medium">
                                        Social Media
                                    </div><!-- card-header -->
                                    <div class="card-body bd-t">
                                        <form action="/setting/socmed" type="put" class="form-setting socmed" data-parsley-validate>
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Email</label>
                                                <input type="text" name="email" class="form-control" placeholder="Email" value="{{.setting.socmed.email}}">
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Facebook</label>
                                                <input type="text" name="facebook" class="form-control" placeholder="Facebook" value="{{.setting.socmed.facebook}}">
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Twitter</label>
                                                <input type="text" name="twitter" class="form-control" placeholder="Twitter" value="{{.setting.socmed.twitter}}">
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Instagram</label>
                                                <input type="text" name="instagram" class="form-control" placeholder="Instagram" value="{{.setting.socmed.instagram}}">
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Youtube</label>
                                                <input type="text" name="youtube" class="form-control" placeholder="Youtube" value="{{.setting.socmed.youtube}}">
                                            </div><!-- form-group -->
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">TripAdvisor</label>
                                                <input type="text" name="tripadvisor" class="form-control" placeholder="TripAdvisor" value="{{.setting.socmed.tripadvisor}}">
                                            </div><!-- form-group -->
                                            <button class="btn btn-purple float-right" type="submit">Save Change</button>
                                        </form>
                                    </div><!-- card-body -->
                                </div><!-- card -->
                            </div>                  
                        </div>                  
                    </div><!-- col -->                    
                </div><!-- row -->
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/ace-editor/ace.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script>
        var defaultMetaSetting = {{.setting.meta}};
    </script>
    <script src="/static/js/app/app.setting.general.js"></script>
{{end}}