<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
<link href="/static/lib/paginationjs/dist/pagination.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<style>
body.dragging, body.dragging * {
    cursor: move !important; 
}

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000; 
}

ol.vertical {
    margin: 0 0 9px 0;
    min-height: 10px;
}

ol.vertical li {
    display: block;
    /* margin: 5px;
    padding: 5px;
    color: #0088cc;
    border: 1px solid #cccccc;
    background: #eeeeee;  */
}

ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; 
}

ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none; 
}
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Setting</span>
                    <span>Menu</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Menu Setting</h2>
                    </div>
                </div>

                <div class="row row-sm">
                    <div class="col-md-4 mg-t-20 mg-md-t-0">
                        <form class="form-menu filter" data-parsley-validate data-parsley-errors-messages-disabled>
                            <div class="row row-sm">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Select Menu</label>
                                        <div id="slMenuFltWrapper" class="parsley-select">
                                            <select 
                                                class="form-control flt-menu" 
                                                placeholder="Select Menu" 
                                                style="width:100% !important" 
                                                data-parsley-class-handler="#slMenuFltWrapper"
                                                data-parsley-errors-container="#menuFltError" 
                                                required>
                                                <option></option>
                                            </select>
                                            <div id="menuFltError"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-secondary btn-block pd-t-0 pd-b-0" style="margin-top: 27px;" type="submit">View Menu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 mg-t-20 mg-md-t-0">
                        <button class="btn btn-primary pd-t-0 pd-b-0 float-right" data-toggle="modal" data-target="#modal-form-menu" style="margin-top: 27px;">Add Menu</button>
                    </div>
                </div>
                
                <div class="row row-sm">
                    <div class="col-md-4 mg-t-20 mg-md-t-0">
                        <form class="form-menu filter-item mg-b-10">
                            <div class="row row-sm pd-t-6">
                                <div class="col-md-12">
                                    <select name="category_id" class="form-control flt-category text-uppercase" placeholder="Select Category" style="width:100% !important" disabled>
                                        <option label="Choose"></option>
                                    </select>
                                </div>
                            </div>
                        </form>

                        <div id="accordion">
                            <div class="card bd mg-b-5">
                                <div class="card-header tx-medium cursor-pointer" data-toggle="collapse" data-target="#collapsePages">
                                    Pages
                                </div>
                                <div id="collapsePages" class="collapse" data-parent="#accordion">
                                    <div class="card-body bd-t">
                                        <div class="alert alert-outline-warning mg-b-0 tx-center pagesInfo" role="alert">No items.</div>
                                        <div class="pagesContainer d-none">
                                            <div class="items pagesData mg-b-15">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bd-t tx-right pd-t-6 pd-b-6">
                                        <a href="#" class="btn btn-outline-dark add-to" style="padding: .25rem .9rem; min-height: 5px;">Add to Menu</a>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="card bd mg-b-5">
                                <div class="card-header tx-medium cursor-pointer" data-toggle="collapse" data-target="#collapseCategory">
                                    Category
                                </div>
                                <div id="collapseCategory" class="collapse" data-parent="#accordion">
                                    <div class="card-body bd-t">
                                        <div class="alert alert-outline-warning mg-b-0 tx-center categoryInfo" role="alert">No items.</div>
                                        <div class="categoryContainer d-none">
                                            <div class="items categoryData mg-b-15">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bd-t tx-right pd-t-5 pd-b-5">
                                        <a href="#" class="btn btn-outline-dark add-to" style="padding: .25rem .9rem; min-height: 5px;">Add to Menu</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card bd mg-b-5">
                                <div class="card-header tx-medium cursor-pointer" data-toggle="collapse" data-target="#collapseGroupContent">
                                    Group Content
                                </div>
                                <div id="collapseGroupContent" class="collapse" data-parent="#accordion">
                                    <div class="card-body bd-t">
                                        <div class="alert alert-outline-warning mg-b-0 tx-center groupContentInfo" role="alert">No items.</div>
                                        <div class="groupContentContainer d-none">
                                            <div class="items groupContentData mg-b-15">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bd-t tx-right pd-t-5 pd-b-5">
                                        <a href="#" class="btn btn-outline-dark add-to" style="padding: .25rem .9rem; min-height: 5px;">Add to Menu</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card bd mg-b-5">
                                <div class="card-header tx-medium cursor-pointer" data-toggle="collapse" data-target="#collapseCustomLink">
                                    Custom Link
                                </div>
                                <div id="collapseCustomLink" class="collapse" data-parent="#accordion">
                                    <form class="form-menu custom-link" data-parsley-validate data-parsley-errors-messages-disabled>
                                        <div class="card-body bd-t">
                                            <div class="alert alert-outline-warning mg-b-0 tx-center customLinkInfo" role="alert">No items.</div>
                                            <div class="customLinkContainer d-none">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Url</label>
                                                    <input type="text" name="url" class="form-control" placeholder="http://" required>
                                                </div><!-- form-group -->
                                                <div class="form-group mg-b-5">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Label</label>
                                                    <input type="text" name="label" class="form-control" placeholder="Label" required>
                                                </div><!-- form-group -->
                                            </div>
                                        </div>
                                        <div class="card-footer bd-t tx-right pd-t-5 pd-b-5">
                                            <button class="btn btn-outline-dark" type="submit" style="padding: .25rem .9rem; min-height: 5px;">Add to Menu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        
                        </div>
                    </div><!-- col -->
                    <div class="col-md-8 mg-t-20 mg-md-t-0">
                        <div class="card bd">
                            <div class="card-header tx-medium">
                                Form Menu
                            </div><!-- card-header -->
                            <div class="card-body bd-t d-none">
                                <form action="/menu" type="put" class="form-menu update" data-parsley-validate>
                                    <input type="hidden" name="id" required>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Menu Name</label>
                                        <input type="text" name="name" placeholder="Menu Name" class="form-control wd-30p" value="" disabled required>
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Language</label>
                                        <div id="slEdtLangWrapper" class="parsley-select wd-20p">
                                            <select 
                                                name="lang" 
                                                class="form-control language"
                                                style="width:100% !important" 
                                                data-parsley-class-handler="#slEdtLangWrapper"
                                                data-parsley-errors-container="#slEdtLangError" 
                                                disabled required>
                                                <option></option>
                                            </select>
                                            <div id="slEdtLangError"></div>
                                        </div>
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Location</label>
                                        <div id="slLocationWrapper" class="parsley-select wd-20p">
                                            <select 
                                                name="location" 
                                                class="form-control location" 
                                                style="width:100% !important" 
                                                data-parsley-class-handler="#slLocationWrapper"
                                                data-parsley-errors-container="#slLocationError" 
                                                disabled required>
                                                <option></option>
                                                <option value="primary">Primary</option>
                                                <option value="secondary">Secondary</option>
                                                <option value="footer">Footer</option>
                                            </select>
                                            <div id="slLocationError"></div>
                                        </div>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-0">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Menu Structure</label>
                                    </div><!-- form-group -->

                                    <ol id="menu_structure" class="menu_structure vertical pd-0">
                                    </ol>
                                    <div class="btn-action">
                                        <a href="/menu" class="btn btn-danger delete-menu float-right mg-l-5">Delete Menu</a>
                                        <button class="btn btn-purple float-right" type="submit">Save Change</button>
                                    </div>
                                </form>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-menu" class="modal fade effect-scale">
        <div class="modal-dialog wd-400" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/menu" type="post" class="form-menu add" data-parsley-validate>
                    <div class="modal-header">
                        <h5 class="modal-title">Create Menu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Menu Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Menu Name" required>
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Language</label>
                            <div id="slLangWrapper" class="parsley-select">
                                <select 
                                    name="lang" 
                                    class="form-control language" 
                                    style="width:100% !important" 
                                    data-parsley-class-handler="#slLangWrapper"
                                    data-parsley-errors-container="#slLangError" required>
                                    <option></option>
                                </select>
                                <div id="slLangError"></div>
                            </div>
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Location</label>
                            <div id="slLocationWrapper" class="parsley-select">
                                <select 
                                    name="location" 
                                    class="form-control location"
                                    style="width:100% !important"
                                    data-parsley-class-handler="#slLocationWrapper" 
                                    data-parsley-errors-container="#slLocationError" required>
                                    <option value="primary">Primary</option>
                                    <option value="secondary">Secondary</option>
                                    <option value="footer">Footer</option>
                                </select>
                                <div id="slLocationError"></div>
                            </div>
                        </div>
                        <!-- form-group -->
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
                <!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form user add -->

    {{include "media/modal"}}
    <!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/paginationjs/dist/pagination.min.js"></script>
    <script src='/static/lib/jquery-sortable/jquery-sortable-min.js'></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.setting.menu.js"></script>
{{end}}