<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
<link href="/static/lib/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<style>
    .az-toggle.toggle-banner-status {
        width: 85px;
    }

    .az-toggle.toggle-banner-status span::before {
        content: "Active";
        left: -49px;
    }

    .az-toggle.toggle-banner-status span::after {
        content: "Inactive";
        right: -55px;
    }

    .az-toggle.toggle-banner-status.on span {
        left: 62px;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Setting</span>
                    <span>Messaging</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Message Manager</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-light btn-refresh-table">Refresh</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-message">Add</button>
                    </div>
                </div>
                
                <div>
                    <table id="datatable-message" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="1">No</th>
                                <th>Name</th>
                                <th width="100">Type</th>
                                <th width="300">Brand</th>
                                <th width="300">Property</th>
                                <th width="200">Created At</th>
                                <th width="130">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-message" class="modal fade effect-scale">
        <div class="modal-dialog wd-75p" role="document" style="max-width: 100%;">
            <div class="modal-content">
                <form action="/message" type="post" class="form-message add" data-parsley-validate data-parsley-errors-messages-disabled>
                    <div class="modal-header">
                        <h6 class="modal-title">Create Message</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body pd-0">
                        <div class="row row-sm">
                            <div class="col-md-5">
                                <div class="ht-600 bd-r" style="overflow-y: auto;">
                                    <div class="card bd-0">
                                        <div class="card-general">
                                            <div class="card-header tx-medium bd-b">
                                                Base
                                            </div><!-- card-header -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Type</label>
                                                    <div class="parsley-select">
                                                        <select 
                                                            name="type" 
                                                            class="form-control" 
                                                            data-parsley-class-handler=".parsley-select" 
                                                            required style="width:100% !important"
                                                        >
                                                            <option></option>
                                                            <option value="bar">Bar</option>
                                                            <option value="center">Center</option>
                                                            <option value="nudge">Nudge</option>
                                                            <option value="overlay">Overlay</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- form-group -->
                                            </div><!-- card-body -->
                                        </div>

                                        <div class="card-content">
                                            <div class="card-header tx-medium bd-t bd-b">
                                                Content
                                            </div><!-- card-header -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Headline</label>
                                                    <textarea name="headline" rows="3" class="form-control" placeholder="Headline"></textarea>
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group description-editor">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                                    <span class="float-right">
                                                        <a href="#" 
                                                            data-toggle="media-library"
                                                            data-multiple="no" 
                                                            data-self-parent="yes"
                                                            data-parent-target=".description-editor" 
                                                            class="badge badge-info tx-bold"
                                                        >Add Media</a>
                                                    </span>
                                                    <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                                </div>
                                                <!-- form-group -->
                                                <div class="row row-sm">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Label</label>
                                                            <input type="text" name="button_label" class="form-control" placeholder="Button Label">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Color</label>
                                                            <input type="color" name="button_color" value="#ffffff" class="form-control" placeholder="Button Color">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Link</label>
                                                    <input type="text" name="button_link" class="form-control" placeholder="Button Link">
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group">
                                                    <label class="ckbox">
                                                        <input type="checkbox" name="button_new_tab" value="1"><span>Open in new tab</span>
                                                    </label>
                                                </div>
                                                <!-- form-group -->
                                            </div><!-- card-body -->
                                        </div>
                                        
                                        <div class="card-image">
                                            <div class="card-header tx-medium bd-t bd-b">
                                                Image
                                            </div><!-- card-header -->
                                            <div class="card-body">
                                                <div class="form-group pos-relative">
                                                    <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-250 image">
                                                    <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                        <a 
                                                            href="#" 
                                                            data-toggle="media-library" 
                                                            data-filter="image" 
                                                            data-self-parent="yes"
                                                            data-parent-target="form"
                                                            data-input-target="input[name=image]" 
                                                            class="badge badge-info tx-bold"
                                                        >Change</a>
                                                        <a href="#" data-trigger="delete-image" class="badge badge-danger tx-bold d-none">X</a>
                                                    </div>
                                                    <input type="hidden" name="image">
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group mg-b-0">
                                                    <label class="ckbox">
                                                        <input type="checkbox" name="image_message" value="1"><span>Replace message with your image</span>
                                                    </label>
                                                </div>
                                                <!-- form-group -->
                                            </div><!-- card-body -->
                                        </div>

                                        <div class="card-setting">
                                            <div class="card-header tx-medium bd-t bd-b">
                                                Setting
                                            </div><!-- card-header -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Target Location</label>
                                                    <select name="country_code" class="form-control" style="width:100% !important">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group">
                                                    <label class="ckbox">
                                                        <input type="checkbox" class="enable-date-restriction" name="edr"><span>Enable date restriction</span>
                                                    </label>
                                                </div>
                                                <!-- form-group -->
                                                <div class="row row-sm date-restriction d-none">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Show Date</label>
                                                            <input type="text" name="show_date" autocomplete="off" class="form-control" readonly placeholder="Show Date">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">End Date</label>
                                                            <input type="text" name="end_date" autocomplete="off" class="form-control" readonly placeholder="End Date">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                </div>
                                                <div class="row row-sm">
                                                    <div class="col-md-7">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Position</label>
                                                            <select name="position" class="form-control" style="width:100% !important">
                                                                <option value="center">Center</option>
                                                                <option value="left">Left</option>
                                                                <option value="right">Right</option>
                                                                <option value="topLeft">Top Left</option>
                                                                <option value="topRight">Top Right</option>
                                                                <option value="bottomLeft">Bottom Left</option>
                                                                <option value="bottomRight">Bottom Right</option>
                                                            </select>
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Backgroud Color</label>
                                                            <input type="color" name="backgroud" value="#ffffff" class="form-control" placeholder="Backgroud Color">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="ckbox">
                                                        <input type="checkbox" name="message_type" value="exit"><span>Exit Message</span>
                                                    </label>
                                                </div>
                                                <!-- form-group -->
                                            </div><!-- card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7"></div>
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form user add -->

    <div id="modal-form-message-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-75p" role="document" style="max-width: 100%;">
            <div class="modal-content">
                <form action="/message" type="put" class="form-message update" data-parsley-validate>
                    <div class="modal-header">
                        <h6 class="modal-title">Update Message</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body pd-0">
                        <div class="row row-sm">
                            <div class="col-md-5">
                                <div class="ht-600 bd-r" style="overflow-y: auto;">
                                    <div class="card bd-0">
                                        <div class="card-general">
                                            <div class="card-header tx-medium bd-b">
                                                Base
                                            </div><!-- card-header -->
                                            <div class="card-body">
                                                <input type="hidden" name="id" required>
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Type</label>
                                                    <div class="parsley-select">
                                                        <select 
                                                            name="type" 
                                                            class="form-control" 
                                                            data-parsley-class-handler=".parsley-select" 
                                                            required style="width:100% !important"
                                                        >
                                                            <option></option>
                                                            <option value="bar">Bar</option>
                                                            <option value="center">Center</option>
                                                            <option value="nudge">Nudge</option>
                                                            <option value="overlay">Overlay</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- form-group -->
                                            </div><!-- card-body -->
                                        </div>

                                        <div class="card-content">
                                            <div class="card-header tx-medium bd-t bd-b">
                                                Content
                                            </div><!-- card-header -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Headline</label>
                                                    <textarea name="headline" rows="3" class="form-control" placeholder="Headline"></textarea>
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group description-editor">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                                    <span class="float-right">
                                                        <a href="#" 
                                                            data-toggle="media-library"
                                                            data-multiple="no" 
                                                            data-self-parent="yes"
                                                            data-parent-target=".description-editor" 
                                                            class="badge badge-info tx-bold"
                                                        >Add Media</a>
                                                    </span>
                                                    <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                                </div>
                                                <!-- form-group -->
                                                <div class="row row-sm">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Label</label>
                                                            <input type="text" name="button_label" class="form-control" placeholder="Button Label">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Color</label>
                                                            <input type="color" name="button_color" value="#ffffff" class="form-control" placeholder="Button Color">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Link</label>
                                                    <input type="text" name="button_link" class="form-control" placeholder="Button Link">
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group">
                                                    <label class="ckbox">
                                                        <input type="checkbox" name="button_new_tab" value="1"><span>Open in new tab</span>
                                                    </label>
                                                </div>
                                                <!-- form-group -->
                                            </div><!-- card-body -->
                                        </div>
                                        
                                        <div class="card-image">
                                            <div class="card-header tx-medium bd-t bd-b">
                                                Image
                                            </div><!-- card-header -->
                                            <div class="card-body">
                                                <div class="form-group pos-relative">
                                                    <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-250 image">
                                                    <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                        <a 
                                                            href="#" 
                                                            data-toggle="media-library" 
                                                            data-filter="image" 
                                                            data-self-parent="yes"
                                                            data-parent-target="form"
                                                            data-input-target="input[name=image]" 
                                                            class="badge badge-info tx-bold"
                                                        >Change</a>
                                                        <a href="#" data-trigger="delete-image" class="badge badge-danger tx-bold d-none">X</a>
                                                    </div>
                                                    <input type="hidden" name="image">
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group mg-b-0">
                                                    <label class="ckbox">
                                                        <input type="checkbox" name="image_message" value="1"><span>Replace message with your image</span>
                                                    </label>
                                                </div>
                                                <!-- form-group -->
                                            </div><!-- card-body -->
                                        </div>

                                        <div class="card-setting">
                                            <div class="card-header tx-medium bd-t bd-b">
                                                Setting
                                            </div><!-- card-header -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Target Location</label>
                                                    <select name="country_code" class="form-control" style="width:100% !important">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <!-- form-group -->
                                                <div class="form-group">
                                                    <label class="ckbox">
                                                        <input type="checkbox" class="enable-date-restriction" name="edr"><span>Enable date restriction</span>
                                                    </label>
                                                </div>
                                                <!-- form-group -->
                                                <div class="row row-sm date-restriction d-none">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Show Date</label>
                                                            <input type="text" name="show_date" autocomplete="off" class="form-control" readonly placeholder="Show Date">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">End Date</label>
                                                            <input type="text" name="end_date" autocomplete="off" class="form-control" readonly placeholder="End Date">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                </div>
                                                <div class="row row-sm">
                                                    <div class="col-md-7">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Position</label>
                                                            <select name="position" class="form-control" style="width:100% !important">
                                                                <option value="center">Center</option>
                                                                <option value="left">Left</option>
                                                                <option value="right">Right</option>
                                                                <option value="topLeft">Top Left</option>
                                                                <option value="topRight">Top Right</option>
                                                                <option value="bottomLeft">Bottom Left</option>
                                                                <option value="bottomRight">Bottom Right</option>
                                                            </select>
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Backgroud Color</label>
                                                            <input type="color" name="backgroud" value="#ffffff" class="form-control" placeholder="Backgroud Color">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="ckbox">
                                                        <input type="checkbox" name="message_type" value="exit"><span>Exit Message</span>
                                                    </label>
                                                </div>
                                                <!-- form-group -->
                                            </div><!-- card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7"></div>
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change</button>
                    </div>
                </form>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal form user update -->

    <div id="modal-assign-banner" class="modal fade effect-scale">
        <div class="modal-dialog wd-900" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Assign Banner</h5>
                        <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body pd-0">
                        <div class="card bd-0">
                            <div class="card-header bg-gray-300 bd-b-0-f pd-b-0">
                                <nav class="nav nav-tabs">
                                    <a class="nav-link tx-medium text-uppercase active" data-toggle="tab" href="#tab-page">Page</a>
                                    <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-category">Category</a>
                                    <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-group-content">Group Content</a>
                                </nav>
                            </div>
                            <!-- card-header -->
                            <div class="card-body tab-content">
                                <div id="tab-page" class="tab-pane show active fade">
                                    <form action="/banner/assign/page" type="put" class="form-assign page" data-type="page" data-parsley-validate data-parsley-errors-messages-disabled>
                                        <input type="hidden" name="id" required> 
                                        <div class="row row-sm">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div id="slcPageWrapper" class="parsley-select">
                                                        <select 
                                                            name="page_id" 
                                                            class="form-control" 
                                                            style="width:100% !important" 
                                                            data-parsley-class-handler="#slcPageWrapper" 
                                                            data-parsley-errors-container="#slcPageError"
                                                            required>
                                                            <option></option>
                                                        </select>
                                                        <div id="slcPageError"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary btn-block" type="submit">Assign</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card card-table-one page-data" data-api="/banner/assigned/page" data-type="page">
                                        <h6 class="card-title">Selected Page</h6>
                                        <div class="alert alert-outline-warning mg-t-20 tx-center d-none" role="alert">No items.</div>
                                        <div class="table-responsive mg-t-20">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30">No</th>
                                                        <th>Page Title</th>
                                                        <th width="1">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <!-- table-responsive -->
                                    </div>
                                </div>
                                <!-- tab-pane -->
                                <div id="tab-category" class="tab-pane fade">
                                    <form action="/banner/assign/category" type="put" class="form-assign category" data-type="category" data-parsley-validate data-parsley-errors-messages-disabled>
                                        <input type="hidden" name="id" required>
                                        <div class="row row-sm">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div id="slcCategoryWrapper" class="parsley-select">
                                                        <select name="category_id" class="form-control" style="width:100% !important" data-parsley-class-handler="#slcCategoryWrapper" data-parsley-errors-container="#slcCategoryError"
                                                            required>
                                                            <option></option>
                                                        </select>
                                                        <div id="slcCategoryError"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary btn-block" type="submit">Assign</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card card-table-one category-data" data-api="/banner/assigned/category" data-type="category">
                                        <h6 class="card-title">Selected Category</h6>
                                        <div class="alert alert-outline-warning mg-t-20 tx-center d-none" role="alert">No items.</div>
                                        <div class="table-responsive mg-t-20">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30">No</th>
                                                        <th>Category Name</th>
                                                        <th width="1">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <!-- table-responsive -->
                                    </div>
                                </div>
                                <!-- tab-pane -->
                                <div id="tab-group-content" class="tab-pane fade">
                                    <form action="/banner/assign/group_content" type="put" class="form-assign group-content" data-type="group_content" data-parsley-validate
                                        data-parsley-errors-messages-disabled>
                                        <input type="hidden" name="id" required>
                                        <div class="row row-sm">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div id="slcGCWrapper" class="parsley-select">
                                                        <select name="group_id" class="form-control" style="width:100% !important" data-parsley-class-handler="#slcGCWrapper"
                                                            data-parsley-errors-container="#slcGCError" required>
                                                            <option></option>
                                                        </select>
                                                        <div id="slcGCError"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary btn-block" type="submit">Assign</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card card-table-one group-content-data" data-api="/banner/assigned/group_content" data-type="group_content">
                                        <h6 class="card-title">Selected Group Content</h6>
                                        <div class="alert alert-outline-warning mg-t-20 tx-center d-none" role="alert">No items.</div>
                                        <div class="table-responsive mg-t-20">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30">No</th>
                                                        <th>Group Name</th>
                                                        <th width="1">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <!-- table-responsive -->
                                    </div>
                                </div>
                                <!-- tab-pane -->
                            </div>
                            <!-- card-body -->
                        </div>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer pd-l-20 pd-r-20 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
                <!-- modal-content -->
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal form assign banner -->

    {{include "media/modal"}}
    <!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
    <script src="/static/lib/tinymce/tinymce.min.js"></script>
    <script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.setting.message.js"></script>
{{end}}