<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<link href="/static/lib/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css" rel="stylesheet">
<style>
    .az-toggle.toggle-page-status {
        width: 85px;
    }

    .az-toggle.toggle-page-status span::before {
        content: "Publish";
        left: -49px;
    }

    .az-toggle.toggle-page-status span::after {
        content: "Draft";
        right: -45px;
    }

    .az-toggle.toggle-page-status.on span {
        left: 62px;
    }
    
    .ace-editor {
        border: 1px solid lightgray;
		min-height: 150px;
    }

    .ui-datepicker {
        z-index: 1051 !important;
    }

    .treeview span.indent{
        margin-left:20px !important;
        margin-right:20px !important;
    }

    .treeview span.icon {
        margin-right: 1px !important;
    }

    .treeview > ul.list-group > li.list-group-item {
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .treeview > ul.list-group > li.list-group-item:first-child {
        border-top: 0 !important;
    }

    .treeview > ul.list-group > li.list-group-item:last-child {
        border-bottom: 0 !important;
    }
    
    .table-icons input.search-control {
        width: 100% !important;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Content</span>
                    <span>Pages</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Pages</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-light btn-refresh-table">Refresh</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-page" data-backdrop="static" data-keyboard="false">Add</button>
                    </div>
                </div>
                
                <div class="d-flex flex-row justify-content-between mg-b-20">
                    <div>
                        <select class="dt" name="length">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="100">500</option>
                        </select>
                        <span class="mg-l-20"></span>
                        <select class="dt wd-200" name="category">
                            <option label="Choose"></option>
                        </select>
                    </div>
                    <div>
                        <input type="text" name="search" class="form-control dt" placeholder="Search ...">
                    </div>
                </div>
                <div>
                    <table id="datatable-page" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="1">No</th>
                                <th>Title</th>
                                <th width="80">Order</th>
                                <th width="100">Status</th>
                                <th width="100">Lang</th>
                                <th width="150">Category</th>
                                <th width="300">Property</th>
                                <th width="300">Brand</th>
                                <th width="200">Created at</th>
                                <th width="100">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-page" class="modal fade effect-scale">
        <div class="modal-dialog wd-85p" role="document" style="max-width: 100%;">
            <div class="modal-content">
                <div class="modal-content">
                    <form action="/page" type="post" class="form-page add" data-parsley-validate>
                        <input type="hidden" name="lang" class="primary-lang" required>
                        <div class="modal-header">
                            <h5 class="modal-title">Add Page</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body pd-0">
                            <div class="row row-sm">
                                <div class="col-md-9">
                                    <div class="pd-l-25 pd-r-5 pd-t-25 pd-b-25">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                            <input type="text" name="title" class="form-control" placeholder="Enter Title" required>
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Sub Title</label>
                                            <input type="text" name="subtitle" class="form-control" placeholder="Sub title">
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group content-editor">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Content</label>
                                            <span class="float-right">
                                                <a href="#" 
                                                    data-toggle="media-library"
                                                    data-multiple="no" 
                                                    data-self-parent="yes"
                                                    data-parent-target=".content-editor" 
                                                    class="badge badge-info tx-bold"
                                                >Add Media</a>
                                                <a href="#" class="badge badge-info tx-bold" data-toggle="popover-icon">Add Icon</a>
                                                <a href="#" class="badge badge-info tx-bold" data-trigger="static-widget">Add Static Widget</a>
                                            </span>
                                            <textarea name="content" rows="3" class="form-control" placeholder="Content"></textarea>
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group excerpt-editor mg-b-20">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Excerpt</label>
                                            <span class="float-right">
                                                <a href="#" 
                                                    data-toggle="media-library"
                                                    data-multiple="no" 
                                                    data-self-parent="yes"
                                                    data-parent-target=".excerpt-editor" 
                                                    class="badge badge-info tx-bold"
                                                >Add Media</a>
                                                <a href="#" class="badge badge-info tx-bold" data-toggle="popover-icon">Add Icon</a>
                                            </span>
                                            <textarea name="excerpt" rows="3" class="form-control" placeholder="Excerpt"></textarea>
                                        </div>
                                        
                                        <div class="row row-sm">
                                            <div class="col-12">
                                                <div class="card collapsible mg-b-20">
                                                    <div class="card-header collapse-toggle tx-medium bd-b">
                                                        Attachment
                                                        <span class="float-right">
                                                            <a 
                                                                href="#" 
                                                                data-toggle="media-library" 
                                                                data-filter="image" 
                                                                data-multiple="yes" 
                                                                data-self-parent="yes"
                                                                data-parent-target="form"
                                                                data-target=".attachment"
                                                                data-input-name="attachment_image" 
                                                                class="badge badge-info tx-bold"
                                                            >Add Attachment Image</a>
                                                        </span>
                                                    </div><!-- card-header -->
                                                    <div class="card-body collapse-target attachment">
                                                        <div class="alert alert-outline-warning mg-b-0 tx-center attachment-info" role="alert">No attachment.</div>
                                                        <div class="row row-sm text-center attachment-image">
                                                        </div>
                                                    </div><!-- card-body -->
                                                </div><!-- card -->
                                            </div><!-- col -->
                                            
                                            <div class="col-12 card-badge d-none">
                                                <div class="card collapsible mg-b-20">
                                                    <div class="card-header collapse-toggle tx-medium bd-b">
                                                        Badge
                                                    </div><!-- card-header -->
                                                    <div class="card-body collapse-target">
                                                        <div class="row row-sm">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Text</label>
                                                                    <input type="text" name="badge_text" class="form-control" placeholder="Text">
                                                                </div>
                                                                <!-- form-group -->
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Text Color</label>
                                                                    <input type="color" name="badge_text_color" class="form-control" placeholder="Text Color">
                                                                </div>
                                                                <!-- form-group -->
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Backgroud Color</label>
                                                                    <input type="color" name="badge_bg_color" class="form-control" placeholder="Backgroud Text Color">
                                                                </div>
                                                                <!-- form-group -->
                                                            </div>
                                                        </div>
                                                        <div class="row row-sm">
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">No Of Bought</label>
                                                                    <input type="text" name="badge_num_bought" class="form-control" placeholder="Number Of Bought">
                                                                </div>
                                                                <!-- form-group -->
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Price</label>
                                                                    <input type="text" name="badge_price" class="form-control" placeholder="Price">
                                                                </div>
                                                                <!-- form-group -->
                                                            </div>
                                                        </div>
                                                        <div class="row row-sm">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Label</label>
                                                                    <input type="text" name="badge_btn_label" class="form-control" placeholder="Button Label">
                                                                </div>
                                                                <!-- form-group -->
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Link</label>
                                                                    <input type="text" name="badge_btn_link" class="form-control" placeholder="Button Link">
                                                                </div>
                                                                <!-- form-group -->
                                                            </div>
                                                        </div>
                                                    </div><!-- card-body -->
                                                </div><!-- card -->
                                            </div><!-- col -->

                                            <div class="col-12">
                                                <div class="card collapsible mg-b-20">
                                                    <div class="card-header collapse-toggle tx-medium bd-b">
                                                        Custom
                                                    </div><!-- card-header -->
                                                    <div class="card-body collapse-target">
                                                        <!-- form-group -->
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Field</label>
                                                            <input type="text" name="custom_field" class="form-control" placeholder="Custom Field">
                                                        </div>
                                                        <!-- form-group -->
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Link</label>
                                                            <input type="text" name="custom_link" class="form-control" placeholder="Custom Link">
                                                        </div>
                                                        <!-- form-group -->
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Detail Label</label>
                                                            <input type="text" name="custom_label_detail" class="form-control" placeholder="Custom Detail Label">
                                                        </div>
                                                        <!-- form-group -->
                                                        <div class="form-group d-none">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Page Template</label>
                                                            <input type="text" name="template" class="form-control" placeholder="Page Template">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div><!-- card-body -->
                                                </div><!-- card -->
                                            </div><!-- col -->
                                        
                                            <div class="col-12">
                                                <div class="card collapsible mg-b-20">
                                                    <div class="card-header collapse-toggle tx-medium bd-b">
                                                        Meta
                                                    </div><!-- card-header -->
                                                    <div class="card-body collapse-target">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Title</label>
                                                            <input type="text" name="meta_title" class="form-control" placeholder="Meta Title">
                                                        </div>
                                                        <!-- form-group -->
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Description</label>
                                                            <input type="text" name="meta_description" class="form-control" placeholder="Meta Description">
                                                        </div>
                                                        <!-- form-group -->
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Keywords</label>
                                                            <input type="text" name="meta_keyword" class="form-control" placeholder="Meta Keywords">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div><!-- card-body -->
                                                </div><!-- card -->
                                            </div><!-- col -->
                                        
                                            <div class="col-12">
                                                <div class="card collapsible">
                                                    <div class="card-header collapse-toggle tx-medium bd-b">
                                                        Scripts
                                                    </div><!-- card-header -->
                                                    <div class="card-body collapse-target">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Header</label>
                                                            <textarea name="script_header" data-editor="html" class="d-none"></textarea>
                                                        </div><!-- form-group -->
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Body</label>
                                                            <span class="float-right">
                                                                <a href="#" class="badge badge-info tx-bold" data-trigger="dynamic-widget">Add Dynamic Widget</a>
                                                            </span>
                                                            <textarea name="script_body" data-editor="html" class="d-none"></textarea>
                                                        </div><!-- form-group -->
                                                    </div><!-- card-body -->
                                                </div><!-- card -->
                                            </div><!-- col -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="ht-100p bd-l">
                                        <div class="card bd-0">
                                            <div class="card-page-attribute">
                                                <div class="card-header tx-medium bd-b">
                                                    Page Attributes
                                                </div><!-- card-header -->
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Category</label>
                                                        <select name="category_id" class="form-control category_id" style="width:100% !important">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <!-- form-group -->
                                                    <div class="form-group">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Parent</label>
                                                        <select name="parent_id" class="form-control parent_id" style="width:100% !important">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <!-- form-group -->
                                                    <div class="form-group">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Tag</label>
                                                        <select name="tags" multiple class="form-control tags" style="width:100% !important">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <!-- form-group -->
                                                    <div class="form-group">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                                                        <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                                                    </div><!-- form-group -->
                                                </div><!-- card-body -->
                                            </div>

                                            <div class="card-featured-image">
                                                <div class="card-header tx-medium bd-t bd-b">
                                                    Featured Image
                                                </div><!-- card-header -->
                                                <div class="card-body">
                                                    <div class="form-group pos-relative mg-b-0">
                                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-150 featured-image">
                                                        <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                            <a 
                                                                href="#" 
                                                                data-toggle="media-library" 
                                                                data-filter="image" 
                                                                data-self-parent="yes"
                                                                data-parent-target="form"
                                                                data-input-target="input[name=featured_image]" 
                                                                class="badge badge-info tx-bold"
                                                            >Change</a>
                                                            <a href="#" data-trigger="delete-fi" class="badge badge-danger tx-bold d-none">X</a>
                                                        </div>
                                                        <input type="hidden" name="featured_image">
                                                    </div>
                                                    <!-- form-group -->
                                                </div><!-- card-body -->
                                            </div>
                                            
                                            <div class="card-facility d-none">
                                                <div class="card-header tx-medium bd-t bd-b">
                                                    Facilities
                                                </div><!-- card-header -->
                                                <div class="card-body pd-0">
                                                    <div class="alert alert-outline-warning mg-20 tx-center d-none" role="alert">Empty data.</div>
                                                    <div class="form-group mg-b-0">
                                                        <div class="roomAmenitiesTree add">
                                                        </div>
                                                    </div>
                                                    <!-- form-group -->
                                                </div><!-- card-body -->
                                            </div>
                                            
                                            <div class="card-publish">
                                                <div class="card-header tx-medium bd-t bd-b">
                                                    Publish
                                                </div><!-- card-header -->
                                                <div class="card-body">
                                                    <input type="hidden" name="status" value="draft" required>
                                                    <div class="form-group">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Status</label>
                                                        <div class="az-toggle az-toggle-success toggle-page-status">
                                                            <span></span>
                                                        </div>
                                                    </div><!-- form-group -->
                                                    <div class="page-validity d-none">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Show Date</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                                    </div>
                                                                </div>
                                                                <input type="text" name="show_date" autocomplete="off" class="form-control" readonly placeholder="Show Date" data-parsley-errors-container="#showDateError">
                                                            </div>
                                                            <div id="showDateError"></div>
                                                        </div><!-- form-group -->
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">End Date</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                                    </div>
                                                                </div>
                                                                <input type="text" name="end_date" autocomplete="off" class="form-control" readonly placeholder="End Date"
                                                                    data-parsley-errors-container="#endDateError">
                                                            </div>
                                                            <div id="endDateError"></div>
                                                        </div>
                                                    </div>
                                                </div><!-- card-body -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- modal-body -->
                        <div class="modal-footer pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                            <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                            <button class="btn btn-purple" type="submit">Save</button>
                        </div>
                    </form>
                </div><!-- modal-content -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form page add -->

    <div id="modal-form-page-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-85p" role="document" style="max-width: 100%;">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Page</h5>
                        <form class="form-inline">
                            <div class="form-group d-none">
                                <select class="form-control select2 translate-to" placeholder="Translate To" style="width:120px !important">
                                    <option></option>
                                </select>
                            </div>
                            <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </form>
                    </div>
                    <form action="/page" type="put" class="form-page update" data-parsley-validate>
                        <div class="modal-body pd-0">
                            <div class="card bd-0">
                                <div class="card-header bg-gray-300 bd-b-0-f pd-b-0">
                                    <nav class="nav nav-tabs">
                                        <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-page-default">Default</a>
                                    </nav>
                                </div><!-- card-header -->
                                <div class="card-body tab-content pd-0">
                                    <div id="tab-page-default" class="tab-pane fade">
                                        <input type="hidden" name="id">
                                        <input type="hidden" name="lang" required>
                                        <input type="hidden" name="source_id">

                                        <div class="row row-sm">
                                            <div class="col-md-9">
                                                <div class="pd-l-25 pd-r-5 pd-t-25 pd-b-25">
                                                    <div class="form-group">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                                        <input type="text" name="title" class="form-control" placeholder="Enter Title" required>
                                                    </div>
                                                    <!-- form-group -->
                                                    <div class="form-group">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Sub Title</label>
                                                        <input type="text" name="subtitle" class="form-control" placeholder="Sub title">
                                                    </div>
                                                    <!-- form-group -->
                                                    <div class="form-group content-editor">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Content</label>
                                                        <span class="float-right">
                                                            <a href="#" 
                                                                data-toggle="media-library"
                                                                data-multiple="no" 
                                                                data-self-parent="yes"
                                                                data-parent-target=".content-editor" 
                                                                class="badge badge-info tx-bold"
                                                            >Add Media</a>
                                                            <a href="#" class="badge badge-info tx-bold" data-toggle="popover-icon">Add Icon</a>
                                                            <a href="#" class="badge badge-info tx-bold" data-trigger="static-widget">Add Static Widget</a>
                                                        </span>
                                                        <textarea name="content" rows="3" class="form-control" placeholder="Content"></textarea>
                                                    </div>
                                                    <!-- form-group -->
                                                    <div class="form-group excerpt-editor mg-b-20">
                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Excerpt</label>
                                                        <span class="float-right">
                                                            <a href="#" 
                                                                data-toggle="media-library"
                                                                data-multiple="no" 
                                                                data-self-parent="yes"
                                                                data-parent-target=".excerpt-editor" 
                                                                class="badge badge-info tx-bold"
                                                            >Add Media</a>
                                                            <a href="#" class="badge badge-info tx-bold" data-toggle="popover-icon">Add Icon</a>
                                                        </span>
                                                        <textarea name="excerpt" rows="3" class="form-control" placeholder="Excerpt"></textarea>
                                                    </div>
                                                    
                                                    <div class="row row-sm">
                                                        <div class="col-12">
                                                            <div class="card collapsible mg-b-20">
                                                                <div class="card-header collapse-toggle tx-medium bd-b">
                                                                    Attachment
                                                                    <span class="float-right">
                                                                        <a 
                                                                            href="#" 
                                                                            data-toggle="media-library" 
                                                                            data-filter="image" 
                                                                            data-multiple="yes" 
                                                                            data-self-parent="yes"
                                                                            data-parent-target="form"
                                                                            data-target=".attachment"
                                                                            data-input-name="attachment_image" 
                                                                            class="badge badge-info tx-bold"
                                                                        >Add Attachment Image</a>
                                                                    </span>
                                                                </div><!-- card-header -->
                                                                <div class="card-body collapse-target attachment">
                                                                    <div class="alert alert-outline-warning mg-b-0 tx-center attachment-info" role="alert">No attachment.</div>
                                                                    <div class="row row-sm text-center attachment-image">
                                                                    </div>
                                                                </div><!-- card-body -->
                                                            </div><!-- card -->
                                                        </div><!-- col -->

                                                        <div class="col-12 card-badge d-none">
                                                            <div class="card collapsible mg-b-20">
                                                                <div class="card-header collapse-toggle tx-medium bd-b">
                                                                    Badge
                                                                </div><!-- card-header -->
                                                                <div class="card-body collapse-target">
                                                                    <div class="row row-sm">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Text</label>
                                                                                <input type="text" name="badge_text" class="form-control" placeholder="Text">
                                                                            </div>
                                                                            <!-- form-group -->
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Text Color</label>
                                                                                <input type="color" name="badge_text_color" class="form-control" placeholder="Text Color">
                                                                            </div>
                                                                            <!-- form-group -->
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Backgroud Color</label>
                                                                                <input type="color" name="badge_bg_color" class="form-control" placeholder="Backgroud Text Color">
                                                                            </div>
                                                                            <!-- form-group -->
                                                                        </div>
                                                                    </div>
                                                                    <div class="row row-sm">
                                                                        <div class="col-md-5">
                                                                            <div class="form-group">
                                                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">No Of Bought</label>
                                                                                <input type="text" name="badge_num_bought" class="form-control" placeholder="Number Of Bought">
                                                                            </div>
                                                                            <!-- form-group -->
                                                                        </div>
                                                                        <div class="col-md-7">
                                                                            <div class="form-group">
                                                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Price</label>
                                                                                <input type="text" name="badge_price" class="form-control" placeholder="Price">
                                                                            </div>
                                                                            <!-- form-group -->
                                                                        </div>
                                                                    </div>
                                                                    <div class="row row-sm">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Label</label>
                                                                                <input type="text" name="badge_btn_label" class="form-control" placeholder="Button Label">
                                                                            </div>
                                                                            <!-- form-group -->
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <div class="form-group">
                                                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Button Link</label>
                                                                                <input type="text" name="badge_btn_link" class="form-control" placeholder="Button Link">
                                                                            </div>
                                                                            <!-- form-group -->
                                                                        </div>
                                                                    </div>
                                                                </div><!-- card-body -->
                                                            </div><!-- card -->
                                                        </div><!-- col -->

                                                        <div class="col-12">
                                                            <div class="card collapsible mg-b-20">
                                                                <div class="card-header collapse-toggle tx-medium bd-b">
                                                                    Custom
                                                                </div><!-- card-header -->
                                                                <div class="card-body collapse-target">
                                                                    <!-- form-group -->
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Field</label>
                                                                        <input type="text" name="custom_field" class="form-control" placeholder="Custom Field">
                                                                    </div>
                                                                    <!-- form-group -->
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Link</label>
                                                                        <input type="text" name="custom_link" class="form-control" placeholder="Custom Link">
                                                                    </div>
                                                                    <!-- form-group -->
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Detail Label</label>
                                                                        <input type="text" name="custom_label_detail" class="form-control" placeholder="Custom Detail Label">
                                                                    </div>
                                                                    <!-- form-group -->
                                                                    <div class="form-group d-none">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Page Template</label>
                                                                        <input type="text" name="template" class="form-control" placeholder="Page Template">
                                                                    </div>
                                                                    <!-- form-group -->
                                                                </div><!-- card-body -->
                                                            </div><!-- card -->
                                                        </div><!-- col -->
                                                    
                                                        <div class="col-12">
                                                            <div class="card collapsible mg-b-20">
                                                                <div class="card-header collapse-toggle tx-medium bd-b">
                                                                    Meta
                                                                </div><!-- card-header -->
                                                                <div class="card-body collapse-target">
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Title</label>
                                                                        <input type="text" name="meta_title" class="form-control" placeholder="Meta Title">
                                                                    </div>
                                                                    <!-- form-group -->
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Description</label>
                                                                        <input type="text" name="meta_description" class="form-control" placeholder="Meta Description">
                                                                    </div>
                                                                    <!-- form-group -->
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Keywords</label>
                                                                        <input type="text" name="meta_keyword" class="form-control" placeholder="Meta Keywords">
                                                                    </div>
                                                                    <!-- form-group -->
                                                                </div><!-- card-body -->
                                                            </div><!-- card -->
                                                        </div><!-- col -->
                                                    
                                                        <div class="col-12">
                                                            <div class="card collapsible">
                                                                <div class="card-header collapse-toggle tx-medium bd-b">
                                                                    Scripts
                                                                </div><!-- card-header -->
                                                                <div class="card-body collapse-target">
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Header</label>
                                                                        <textarea name="script_header" data-editor="html" class="d-none"></textarea>
                                                                    </div><!-- form-group -->
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Body</label>
                                                                        <span class="float-right">
                                                                            <a href="#" class="badge badge-info tx-bold" data-trigger="dynamic-widget">Add Dynamic Widget</a>
                                                                        </span>
                                                                        <textarea name="script_body" data-editor="html" class="d-none"></textarea>
                                                                    </div><!-- form-group -->
                                                                </div><!-- card-body -->
                                                            </div><!-- card -->
                                                        </div><!-- col -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="ht-100p bd-l">
                                                    <div class="card bd-0">
                                                        <div class="card-page-attribute">
                                                            <div class="card-header tx-medium bd-b">
                                                                Page Attributes
                                                            </div><!-- card-header -->
                                                            <div class="card-body">
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Category</label>
                                                                    <select name="category_id" class="form-control category_id" style="width:100% !important">
                                                                        <option></option>
                                                                    </select>
                                                                </div>
                                                                <!-- form-group -->
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Parent</label>
                                                                    <select name="parent_id" class="form-control parent_id" style="width:100% !important">
                                                                        <option></option>
                                                                    </select>
                                                                </div>
                                                                <!-- form-group -->
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Tag</label>
                                                                    <select name="tags" multiple class="form-control tags" style="width:100% !important">
                                                                        <option></option>
                                                                    </select>
                                                                </div>
                                                                <!-- form-group -->
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                                                                    <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                                                                </div><!-- form-group -->
                                                            </div><!-- card-body -->
                                                        </div>

                                                        <div class="card-featured-image">
                                                            <div class="card-header tx-medium bd-t bd-b">
                                                                Featured Image
                                                            </div><!-- card-header -->
                                                            <div class="card-body">
                                                                <div class="form-group pos-relative mg-b-0">
                                                                    <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-150 featured-image">
                                                                    <div class="fi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                                        <a 
                                                                            href="#" 
                                                                            data-toggle="media-library" 
                                                                            data-filter="image" 
                                                                            data-self-parent="yes"
                                                                            data-parent-target="form"
                                                                            data-input-target="input[name=featured_image]" 
                                                                            class="badge badge-info tx-bold"
                                                                        >Change</a>
                                                                        <a href="#" data-trigger="delete-fi" class="badge badge-danger tx-bold d-none">X</a>
                                                                    </div>
                                                                    <input type="hidden" name="featured_image">
                                                                </div>
                                                                <!-- form-group -->
                                                            </div><!-- card-body -->
                                                        </div>
                                                        
                                                        <div class="card-facility d-none">
                                                            <div class="card-header tx-medium bd-t bd-b">
                                                                Facilities
                                                            </div><!-- card-header -->
                                                            <div class="card-body pd-0">
                                                                <div class="alert alert-outline-warning mg-20 tx-center d-none" role="alert">Empty data.</div>
                                                                <div class="form-group mg-b-0">
                                                                    <div class="roomAmenitiesTree update">
                                                                    </div>
                                                                </div>
                                                                <!-- form-group -->
                                                            </div><!-- card-body -->
                                                        </div>
                                                        
                                                        <div class="card-publish">
                                                            <div class="card-header tx-medium bd-t bd-b">
                                                                Publish
                                                            </div><!-- card-header -->
                                                            <div class="card-body">
                                                                <input type="hidden" name="status" value="draft" required>
                                                                <div class="form-group">
                                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Status</label>
                                                                    <div class="az-toggle az-toggle-success toggle-page-status">
                                                                        <span></span>
                                                                    </div>
                                                                </div><!-- form-group -->
                                                                <div class="page-validity d-none">
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Show Date</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <div class="input-group-text">
                                                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                                                </div>
                                                                            </div>
                                                                            <input type="text" name="show_date" autocomplete="off" class="form-control" readonly placeholder="Show Date" data-parsley-errors-container="#edtShowDateError">
                                                                        </div>
                                                                        <div id="edtShowDateError"></div>
                                                                    </div><!-- form-group -->
                                                                    <div class="form-group">
                                                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">End Date</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <div class="input-group-text">
                                                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                                                </div>
                                                                            </div>
                                                                            <input type="text" name="end_date" autocomplete="off" class="form-control" readonly placeholder="End Date" data-parsley-errors-container="#edtEndDateError">
                                                                        </div>
                                                                        <div id="edtEndDateError"></div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- card-body -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- tab-pane -->
                                </div><!-- card-body -->
                            </div>
                        </div><!-- modal-body -->
                        <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                            <div class="flex-grow-1">
                                <a href="/page/single" class="btn btn-outline-danger d-none" data-trigger="delete-tab">Delete</a>
                            </div>
                            <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                            <button class="btn btn-purple" type="submit">Save Change All</button>
                        </div>
                    </form>
                </div><!-- modal-content -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form page update -->

    {{include "media/modal"}}
    <!-- modal media library -->
    {{include "widget/modal"}}
    <!-- modal widget -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/ace-editor/ace.js"></script>
    <script src="/static/lib/bootstrap-treeview/bootstrap-treeview.js"></script>
    <script src="/static/lib/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="/static/lib/bootstrap-iconpicker/js/bootstrap-iconpicker.bundle.min.js"></script>
    <script src="/static/lib/tinymce/tinymce.min.js"></script>
    <script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.widget.js"></script>
    <script src="/static/js/app/app.pages.js"></script>
{{end}}