<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/lib/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet">
<link href="/static/lib/froala-editor/css/froala_style.min.css" rel="stylesheet">
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Content</span>
                    <span>Media</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Media Library</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-media" data-backdrop="static" data-keyboard="false">Add</button>
                    </div>
                </div>

                <div class="card card-body bd-t bd-l-0 bd-r-0 pd-t-15 pd-b-15 pd-l-0 pd-r-0">
                    <form action="/media/load" type="get" class="form-inline form-media filter">
                        <div class="form-group">
                            <div id="slTypeFltWrapper" class="parsley-select mr-sm-2">
                                <select name="type" class="form-control select2 fltType text-uppercase" placeholder="Filter Media"
                                    style="width:200px !important" data-parsley-class-handler="#slTypeFltWrapper"
                                    data-parsley-errors-container="#typeFltError">
                                    <option label="All Media"></option>
                                    <option value="image">Image</option>
                                    <option value="icon">Icon</option>
                                    <option value="video">Video</option>
                                    <option value="attachment">Attachment</option>
                                </select>
                                <div id="typeFltError"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="ckbox mg-r-10">
                                <input type="checkbox" name="as_gallery" value="1"><span class="tx-13 mg-t-1">As Gallery</span>
                            </label>
                        </div>

                        <button class="btn btn-secondary pd-t-0 pd-b-0" type="submit">Filter</button>
                    </form>
                </div>
                
                <div id="medias" class="row row-sm text-center pd-t-15">
                </div>
                <div class="text-center pd-t-15">
                    <button id="btn-more-media" class="btn btn-secondary" data-page="0">Load More</button>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-media" class="modal fade effect-scale">
        <div class="modal-dialog" role="document" style="width: 80%; max-width: 100%;">
            <div class="modal-content">
                <form action="/media" type="post" class="form-media add" data-parsley-validate>
                    <div class="modal-header">
                        <h6 class="modal-title">Add Media</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input name="rows" type="hidden" value="1">
                        <div class="media-group mg-b-10">
                            <div class="row row-sm">
                                <div class="col-sm-3">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                    <input name="title" type="text" class="form-control">
                                </div>
                                <div class="col-sm-3">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Type</label>
                                    <div class="row row-sm">
                                        <div class="col-sm-7">
                                            <select name="type" class="form-control type" style="width: 100%;">
                                                <option value="image">Image</option>
                                                <option value="icon">Icon</option>
                                                <option value="video">Video</option>
                                                <option value="attachment">Attachment</option>
                                            </select>
                                        </div><!-- col -->
                                        <div class="col-sm-5 mg-t-9">
                                            <label class="ckbox">
                                                <input type="checkbox" name="as_gallery" value="1"><span class="tx-13">As Gallery</span>
                                            </label>
                                        </div><!-- col -->
                                    </div><!-- row -->
                                </div>
                                <div class="col-sm-3">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">URL</label>
                                    <div class="row row-sm">
                                        <div class="col-sm-10">
                                            <input name="url" type="text" class="form-control">
                                        </div><!-- col -->
                                        <div class="col-sm-2 mg-t-9 text-center">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">OR</label>
                                        </div><!-- col -->
                                    </div><!-- row -->
                                </div>
                                <div class="col-sm-3">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">File</label>
                                    <div class="custom-file">
                                        <input name="file" type="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                            </div><!-- row -->
                        </div><!-- form-group -->
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <div class="flex-grow-1">
                            <div class="form-row form-insert-row align-items-center">
                                <div class="col-auto">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        Add
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <select name="row" class="form-control select2 input-row" style="width: 90px;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        row(s)
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary go-btn">GO</button>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form user add -->

    <div id="modal-form-media-update" class="modal fade effect-scale">
        <div class="modal-dialog" role="document" style="width: 80%; max-width: 100%;">
            <div class="modal-content">
                <form action="/media" type="put" class="form-media update" data-parsley-validate>
                    <div class="modal-header">
                        <h6 class="modal-title">View Media</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-sm">
                            <div class="col-md-8 media-preview">
                                <img src="#" class="wd-100p ht-100p" onerror="this.src='https://via.placeholder.com/500x334?text=No Picture'">
                            </div>
                            <div class="col-md-4 media-attribute">
                                <input type="hidden" name="media_id" required>
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                    <input type="text" name="title" class="form-control" placeholder="Title">
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Caption</label>
                                    <input type="text" name="caption" class="form-control" placeholder="Caption">
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Type</label>
                                    <select name="type" class="form-control type">
                                        <option value="image">Image</option>
                                        <option value="icon">Icon</option>
                                        <option value="video">Video</option>
                                        <option value="attachment">Attachment</option>
                                    </select>
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                    <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                </div><!-- form-group -->
                                <div class="form-group mg-t-7">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">URL</label>
                                    <input type="text" name="url" class="form-control" placeholder="URL">
                                </div><!-- form-group -->
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">File</label>
                                    <div class="custom-file">
                                        <input name="file" type="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div><!-- form-group -->
                                <div class="form-group mg-b-30">
                                    <label class="ckbox">
                                        <input type="checkbox" name="as_gallery" value="1"><span class="tx-13">Set As Gallery</span>
                                    </label>
                                </div><!-- form-group -->
                            </div>
                        </div>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <div class="flex-grow-1">
                            <button type="button" class="btn btn-danger go-btn" data-trigger="delete" data-source-event="modal">Delete Media</button>
                        </div>
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change</button>
                    </div>
                </form>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal form user update -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/lib/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="/static/js/app/app.media.js"></script>
{{end}}