<div id="modal-media-library" class="modal fade effect-scale">
    <div class="modal-dialog" role="document" style="width: 80%; max-width: 100%;">
        <div class="modal-content bd">
            <div class="modal-header pd-t-10 pd-b-10">
                <h6 class="modal-title">Media Library</h6>
                <form action="/media/load" type="get" class="form-inline media-library">
                    <div class="form-group mr-sm-2">
                        <select name="type" class="form-control select2" placeholder="Filter Media" style="width:150px !important">
                            <option value="">All Media</option>
                            <option value="image">Image</option>
                            <option value="icon">Icon</option>
                            <option value="video">Video</option>
                            <option value="attachment">Attachment</option>
                        </select>
                    </div>
                    <button class="btn btn-secondary pd-t-0 pd-b-0" type="submit">Filter</button>
                    <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </form>
            </div>
            <div class="modal-body">
                <div id="medias" class="row row-sm media-items text-center ht-500 overflow-auto">
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                <div class="flex-grow-1">
                    <form action="/media" type="post" class="form-media add">
                        <input name="rows" type="hidden" value="1">
                        <div class="form-row form-insert-row align-items-center">
                            <div class="col-auto">
                                <div class="custom-file">
                                    <input name="file" type="file" class="custom-file-input" multiple>
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
                <button class="btn btn-outline-light btn-more-media" data-page="0">Load More</button>
                <button class="btn btn-purple d-none" type="button" data-toggle="select-multiple-image">Select Media</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form user add -->