<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
<!-- Bootstrap-Iconpicker -->
<link href="/static/lib/map-icons/css/map-icons.css" rel="stylesheet">
<link href="/static/lib/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css" rel="stylesheet">
<link href="/static/lib/jquery-poi/awesomePOI.css" rel="stylesheet">
<link href="/static/lib/jquery-poi/skins/skin1.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<style type="text/css" media="screen">
    .ace-editor {
        border: 1px solid lightgray;
		height: 200px;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Content</span>
                    <span>Instagram Feed</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Instagram Feed Builder</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card bd mg-b-30">
                            <div class="card-header tx-medium">
                                Adjust Settings
                            </div><!-- card-header -->
                            <div class="card-body bd-t">
                                <form action="#" class="form-builder" data-host="{{.host}}" data-parsley-validate>
                                    <input type="hidden" name="lang" value="en" required>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Api</label>
                                        <input type="text" name="api" class="form-control" placeholder="Api Endpoint" required>
                                    </div><!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Source</label>
                                        <input type="text" name="source" class="form-control" placeholder="Enter @user or #hashtag" required>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-20">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Width</label>
                                        <input type="text" name="width" class="form-control" value="auto" placeholder="Feed width (any CSS valid value: auto, px, %, em, etc)." required>
                                    </div><!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Layout</label><br>
                                        <div class="form-check form-check-inline">
                                            <label class="rdiobox">
                                                <input type="radio" name="layout" value="grid" checked>
                                                <span style="padding-left: 7px;">Grid</span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="rdiobox">
                                                <input type="radio" name="layout" value="slider">
                                                <span style="padding-left: 7px;">Slider</span>
                                            </label>
                                        </div>
                                    </div><!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Columns</label>
                                        <input type="text" name="columns" class="form-control" value="5" placeholder="Columns" data-parsley-type="integer" required>
                                    </div><!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Rows</label>
                                        <input type="text" name="rows" class="form-control" value="3" placeholder="Rows" data-parsley-type="integer" required>
                                    </div><!-- form-group -->
                                    <button class="btn btn-purple float-right" type="submit">Generate Feed Script</button>
                                </form>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div>
                    <div class="col-md">
                        <div class="card bd mg-b-30">
                            <div class="card-header tx-medium">
                                Copy the Code
                            </div><!-- card-header -->
                            <div class="card-body bd-t">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Script</label>
                                    <div id="script" class="ace-editor"></div>
                                </div><!-- form-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/ace-editor/ace.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.10.1/beautify-html.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.instagram.js"></script>
{{end}}