<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
<!-- Bootstrap-Iconpicker -->
<link href="/static/lib/map-icons/css/map-icons.css" rel="stylesheet">
<link href="/static/lib/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css" rel="stylesheet">
<link href="/static/lib/jquery-poi/awesomePOI.css" rel="stylesheet">
<link href="/static/lib/jquery-poi/skins/skin1.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<style type="text/css" media="screen">
    .ace-editor {
        border: 1px solid lightgray;
		height: 200px;
    }

    label > input.skin{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }

    label > input.skin + img{ /* IMAGE STYLES */
        cursor: pointer;
        border: 4px solid transparent;
        border-radius: 4px;		  
        padding: 2px;
    }

    label > input.skin:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
        border: 4px solid #0088cc;
        
    }

    .table-icons input.search-control {
        width: 100% !important;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Content</span>
                    <span>Map Attraction</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Map Attraction Builder</h2>
                    </div>
                </div>

                <div class="card bd mg-b-30">
                    <div class="card-header tx-medium">
                        Create Filters Navigation
                    </div><!-- card-header -->
                    <div class="card-body bd-t">
                        <div class="alert alert-outline-warning mg-b-0 tx-center filterInfo mg-b-15" role="alert">No filter items.</div>
                        <div id="filter-area" class="d-none mg-b-15"></div>
                        <button class="btn btn-success add-filter float-right" type="button">Add Filter</button>
                    </div>
                </div>

                <div class="card bd mg-b-30">
                    <div class="card-header tx-medium">
                        Adjust Settings
                    </div><!-- card-header -->
                    <div class="card-body bd-t">
                        <form action="#" class="form-builder" data-host="{{.host}}" data-parsley-validate>
                            <div class="row">
                                <div class="col-md">
                                    <div class="az-content-label mg-b-10">Enter center point position :</div>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Center Point Lat</label>
                                        <input type="text" name="lat" class="form-control" placeholder="Center Point Lat">
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-20">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Center Point Lng</label>
                                        <input type="text" name="lng" class="form-control" placeholder="Center Point Lng">
                                    </div><!-- form-group -->
                                    <div class="az-content-label mg-b-10">Or Address (street & city) :</div>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Address</label>
                                        <input type="text" name="address" class="form-control" placeholder="Address">
                                    </div><!-- form-group -->
                                    <div class="form-group" data-toggle="tooltip" data-placement="top" title="Radius of the Nearby Places search in meters. High radius can make your free API calls to end quicker.">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Radius</label>
                                        <input type="text" name="radius" class="form-control" value="1500" placeholder="Radius">
                                    </div><!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Starting Map Zoom</label>
                                        <select name="zoom" class="form-control select2 map-zoom" placeholder="Starting Map Zoom">
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15" selected>15</option>
                                            <option value="16">16</option>
                                        </select>
                                    </div><!-- form-group -->
                                    <div class="form-group">
                                        <label class="ckbox" data-toggle="tooltip" data-placement="top" title="Check to enable map zooming using mose scroll whell">
                                            <input type="checkbox" value="true" name="wheel_scroll" checked><span>Mouse Whell Zooming</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <!-- <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Text direction</label>
                                        <select name="rtl" class="form-control select2" placeholder="Text direction">
                                            <option value="1">LTR - left to right</option>
                                            <option value="1">RTL - right to left</option>
                                        </select>
                                    </div> -->
                                    <!-- form-group -->
                                </div>
                                <div class="col-md">
                                    <div class="az-content-label mg-b-10">Show on map start :</div>
                                    <div class="form-check form-check-inline">
                                        <label class="rdiobox">
                                            <input type="radio" name="start" value="point">
                                            <span style="padding-left: 7px;">Point</span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="rdiobox">
                                            <input type="radio" name="start" value="type">
                                            <span style="padding-left: 7px;">Type</span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="rdiobox">
                                            <input type="radio" name="start" value="both" checked>
                                            <span style="padding-left: 7px;">Both</span>
                                        </label>
                                    </div>
                                    <div class="form-group" data-toggle="tooltip" data-placement="top" title='If you chose "type" or "both" above, you can choose what type of nearby plces will be visible.'>
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Starting Types</label>
                                        <select name="start_types" class="form-control select2" placeholder="Start Types" multiple>
                                            <option value="accounting">accounting</option>
                                            <option value="airport">airport</option>
                                            <option value="amusement_park">amusement park</option>
                                            <option value="aquarium">aquarium</option>
                                            <option value="art_gallery">art gallery</option>
                                            <option value="atm">atm</option>
                                            <option value="bakery">bakery</option>
                                            <option value="bank">bank</option>
                                            <option value="bar">bar</option>
                                            <option value="beauty_salon">beauty salon</option>
                                            <option value="bicycle_store">bicycle store</option>
                                            <option value="book_store">book store</option>
                                            <option value="bowling_alley">bowling alley</option>
                                            <option value="bus_station">bus station</option>
                                            <option value="cafe">cafe</option>
                                            <option value="campground">campground</option>
                                            <option value="car_dealer">car dealer</option>
                                            <option value="car_rental">car rental</option>
                                            <option value="car_repair">car repair</option>
                                            <option value="car_wash">car wash</option>
                                            <option value="casino">casino</option>
                                            <option value="cemetery">cemetery</option>
                                            <option value="church">church</option>
                                            <option value="city_hall">city hall</option>
                                            <option value="clothing_store">clothing store</option>
                                            <option value="convenience_store">convenience store</option>
                                            <option value="courthouse">courthouse</option>
                                            <option value="dentist">dentist</option>
                                            <option value="department_store">department store</option>
                                            <option value="doctor">doctor</option>
                                            <option value="electrician">electrician</option>
                                            <option value="electronics_store">electronics store</option>
                                            <option value="embassy">embassy</option>
                                            <option value="fire_station">fire station</option>
                                            <option value="florist">florist</option>
                                            <option value="funeral_home">funeral home</option>
                                            <option value="furniture_store">furniture store</option>
                                            <option value="gas_station">gas station</option>
                                            <option value="gym">gym</option>
                                            <option value="hair_care">hair care</option>
                                            <option value="hardware_store">hardware store</option>
                                            <option value="hindu_temple">hindu temple</option>
                                            <option value="home_goods_store">home goods store</option>
                                            <option value="hospital">hospital</option>
                                            <option value="insurance_agency">insurance agency</option>
                                            <option value="jewelry_store">jewelry store</option>
                                            <option value="laundry">laundry</option>
                                            <option value="lawyer">lawyer</option>
                                            <option value="library">library</option>
                                            <option value="liquor_store">liquor store</option>
                                            <option value="local_government_office">local government office</option>
                                            <option value="locksmith">locksmith</option>
                                            <option value="lodging">lodging</option>
                                            <option value="meal_delivery">meal delivery</option>
                                            <option value="meal_takeaway">meal takeaway</option>
                                            <option value="mosque">mosque</option>
                                            <option value="movie_rental">movie rental</option>
                                            <option value="movie_theater">movie theater</option>
                                            <option value="moving_company">moving company</option>
                                            <option value="museum">museum</option>
                                            <option value="night_club">night club</option>
                                            <option value="painter">painter</option>
                                            <option value="park">park</option>
                                            <option value="parking">parking</option>
                                            <option value="pet_store">pet store</option>
                                            <option value="pharmacy">pharmacy</option>
                                            <option value="physiotherapist">physiotherapist</option>
                                            <option value="plumber">plumber</option>
                                            <option value="police">police</option>
                                            <option value="post_office">post office</option>
                                            <option value="real_estate_agency">real estate agency</option>
                                            <option value="restaurant">restaurant</option>
                                            <option value="roofing_contractor">roofing contractor</option>
                                            <option value="rv_park">rv park</option>
                                            <option value="school">school</option>
                                            <option value="shoe_store">shoe store</option>
                                            <option value="shopping_mall">shopping mall</option>
                                            <option value="spa">spa</option>
                                            <option value="stadium">stadium</option>
                                            <option value="storage">storage</option>
                                            <option value="store">store</option>
                                            <option value="subway_station">subway station</option>
                                            <option value="synagogue">synagogue</option>
                                            <option value="taxi_stand">taxi stand</option>
                                            <option value="train_station">train station</option>
                                            <option value="transit_station">transit station</option>
                                            <option value="travel_agency">travel agency</option>
                                            <option value="university">university</option>
                                            <option value="veterinary_care">veterinary care</option>
                                            <option value="zoo">zoo</option>
                                        </select>
                                    </div><!-- form-group -->
                                    <div class="form-group" data-toggle="tooltip" data-placement="top" title='Enter url or src of the icon that will be used for center point (if you chose "point" or "both" above)'>
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Start Point Icon</label>
                                        <input type="text" name="start_point_icon" class="form-control" placeholder="Start Point Icon">
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-20" data-toggle="tooltip" data-placement="top" title='Enter url or src of the icon that will be used for starting types (if you chose "type" or "both" above)'>
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Start Types Icon</label>
                                        <input type="text" name="start_types_icon" class="form-control" placeholder="Start Types Icon">
                                    </div><!-- form-group -->
                                    <div class="az-content-label mg-b-10" data-toggle="tooltip" data-placement="top" title="Allow to select multiple filters at the time (doen't work with markers from JSON file)">Allow to select multiple filters :</div>
                                    <div class="form-group mg-b-20">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="multiple" checked><span>Multiple</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="az-content-label mg-b-10" data-toggle="tooltip" data-placement="top" title="Choose which elemwents will be visible on map">Choose map blocks :</div>
                                    <div class="form-group mg-b-5">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="street_view" checked><span>Street View</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-5">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="autocomplete" checked><span>Autocomplete</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-5">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="user_location" checked><span>User Location</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-5">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="route_mode" checked><span>Route Mode</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-5">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="places_list" checked><span>Places List</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-5">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="place_details" checked><span>Place Details</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-5">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="route_time" checked><span>Route Time</span>
                                        </label>
                                    </div><!-- form-group -->
                                    <div class="form-group mg-b-5">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="route" checked><span>Route</span>
                                        </label>
                                    </div><!-- form-group -->
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Icon Size</label>
                                        <select name="icon_size" class="form-control select2" placeholder="Icon Size">
                                            <option value="small">small</option>
                                            <option value="medium">medium</option>
                                            <option value="large" selected>large</option>
                                        </select>
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Icon Color</label>
                                        <select name="icon_color" class="form-control select2" placeholder="Icon Color" data-color="turquoise">
                                            <option value="turquoise" selected>turquoise</option>
                                            <option value="blue">blue</option>
                                            <option value="green">green</option>
                                            <option value="red">red</option>
                                            <option value="purple">purple</option>
                                            <option value="yellow">yellow</option>
                                            <option value="pink">pink</option>
                                            <option value="gold">gold</option>
                                            <option value="grey">grey</option>
                                            <option value="navy">navy</option>
                                        </select>
                                    </div>
                                    <div class="form-group mg-b-20">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Icon Type</label><br>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin1"/>
                                            <img id="pin1" src="/static/images/map-icons/icon-pin1-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin2"/>
                                            <img id="pin2" src="/static/images/map-icons/icon-pin2-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin3"/>
                                            <img id="pin3" src="/static/images/map-icons/icon-pin3-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin4"/>
                                            <img id="pin4" src="/static/images/map-icons/icon-pin4-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin5"/>
                                            <img id="pin5" src="/static/images/map-icons/icon-pin5-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin6"/>
                                            <img id="pin6" src="/static/images/map-icons/icon-pin6-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin7"/>
                                            <img id="pin7" src="/static/images/map-icons/icon-pin7-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin8"/>
                                            <img id="pin8" src="/static/images/map-icons/icon-pin8-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin9"/>
                                            <img id="pin9" src="/static/images/map-icons/icon-pin9-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin10"/>
                                            <img id="pin10" src="/static/images/map-icons/icon-pin10-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin11"/>
                                            <img id="pin11" src="/static/images/map-icons/icon-pin11-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin12"/>
                                            <img id="pin12" src="/static/images/map-icons/icon-pin12-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin13"/>
                                            <img id="pin13" src="/static/images/map-icons/icon-pin13-turquoise.png" />
                                        </label>
                                        <label>
                                            <input class="skin" type="radio" name="icon_type" value="pin14"/>
                                            <img id="pin14" src="/static/images/map-icons/icon-pin14-turquoise.png" />
                                        </label>
                                    </div>
                                    <!-- form-group -->
                                    <div class="az-content-label mg-b-10" data-toggle="tooltip" data-placement="top" title="Marker Clustering combine markers of close proximity into clusters, and simplify the display of markers on the map">Turn on Marker Clustering :</div>
                                    <div class="form-group mg-b-20">
                                        <label class="ckbox">
                                            <input type="checkbox" value="true" name="cluster" checked><span>Markers Clustering</span>
                                        </label>
                                    </div><!-- form-group -->
                                </div>
                            </div>
                            <button class="btn btn-purple float-right" type="submit">Generate & Preview Map</button>
                        </form>
                    </div><!-- card-body -->
                </div><!-- card -->

                <div id="card-map" class="card bd mg-b-30 d-none">
                    <div class="card-header tx-medium">
                        Map Preview
                    </div><!-- card-header -->
                    <div id="map-preview" class="card-body bd-t"></div>
                </div>

                <div id="card-code" class="card bd mg-b-30 d-none">
                    <div class="card-header tx-medium">
                        Copy the Code
                    </div><!-- card-header -->
                    <div class="card-body bd-t">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Add to &lt;head&gt; tag</label>
                            <div id="header-script" class="ace-editor">&lt;link href="{{.host}}/static/lib/jquery-poi/awesomePOI.css" rel="stylesheet"/>
&lt;link href="{{.host}}/static/lib/jquery-poi/skins/skin1.css" rel="stylesheet"/>
&lt;script src="https://code.jquery.com/jquery-2.2.4.min.js">&lt;/script>
                            </div>
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Add to &lt;body&gt; tag</label>
                            <div id="body-script" class="ace-editor"></div>
                        </div><!-- form-group -->
                    </div>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/ace-editor/ace.js"></script>
    <!-- Bootstrap-Iconpicker Bundle -->
    <script src="/static/lib/bootstrap-iconpicker/js/bootstrap-iconpicker.bundle.min.js"></script>
    <script id="map-api-js" src="https://maps.googleapis.com/maps/api/js?key={{.apikey}}&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.10.1/beautify-html.min.js"></script>
    <script src="/static/lib/jquery-poi/jquery.awesomePOI.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.map-attraction.js"></script>
{{end}}