<!-- for js or css -->
{{define "header"}}
    <style>
        .az-card-signin {
            height: auto !important;
        }
    </style>
{{end}}
{{define "navbar"}}
<div style="display: none"></div>
{{end}}
{{define "content"}}
    <div class="az-signin-wrapper">
        <div class="az-card-signin">
            <!-- <h1 class="az-logo">Alaric CMS</h1> -->
            <div class="az-signin-header">
                <h4>Reset Password</h4>
                <form action="/auth/reset/" method="put" class="reset-form">
                    <input type="hidden" name="key" value="{{.key}}">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="password" id="new_password" class="form-control" placeholder="Enter your new password" required>
                    </div>
                    <!-- form-group -->
                    <div class="form-group mg-b-30">
                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Retype Password</label>
                        <input name="retype_password" type="password" class="form-control" placeholder="Retype new password" data-parsley-equalto="#new_password" required>
                    </div>
                    <!-- form-group -->
                    <button class="btn btn-az-primary btn-block btn-login">Reset</button>
                    <div class="alert mg-b-0 mg-t-10 d-none" role="alert"></div>
                </form>
            </div>
            <!-- az-signin-header -->
        </div>
        <!-- az-card-signin -->
    </div>
    <!-- az-signin-wrapper -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/js/app/app.auth.reset.js"></script>
{{end}}
