<!-- for js or css -->
{{define "header"}}
    <style>
        .az-card-signin {
            height: 400px !important;
        }
    </style>
{{end}}
{{define "navbar"}}
<div style="display: none"></div>
{{end}}
{{define "content"}}
    <div class="az-signin-wrapper">
        <div class="az-card-signin">
            <!-- <h1 class="az-logo">Alaric CMS</h1> -->
            <div class="az-signin-header">
                <h2>{{.AppName}}</h2>
                <h4>Please sign in to continue</h4>
                <form action="/auth/process/" method="post" class="login-form">
                    <div class="form-group">
                        <label>User Login</label>
                        <input type="text" name="user_login" class="form-control" placeholder="Enter your user login">
                    </div>
                    <!-- form-group -->
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="user_password" class="form-control" placeholder="Enter your password">
                    </div>
                    <!-- form-group -->
                    <button class="btn btn-az-primary btn-block btn-login">Sign In</button>
                </form>
            </div>
            <!-- az-signin-header -->
            <div class="az-signin-footer">
                <p><a data-toggle="modal" href="#modal-forgot">Forgot password ?</a></p>
                <!--p>Don't have an account? <a href="page-signup.html">Create an Account</a></p-->
            </div>
            <!-- az-signin-footer -->
        </div>
        <!-- az-card-signin -->
    </div>
    <!-- az-signin-wrapper -->

    <div id="modal-forgot" class="modal fade effect-scale">
        <div class="modal-dialog wd-400" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close pos-absolute t-15 r-20 tx-26" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title mg-b-20">Forgot Password</h5>
                    <form action="/auth/forgot" type="post" class="forgot-form" data-parsley-validate>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Your email" required>
                        </div><!-- form-group -->
                        <button class="btn btn-purple btn-block" type="submit">Send</button>
                        <div class="alert mg-b-0 mg-t-10 d-none" role="alert"></div>
                    </form>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form brand add -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/js/app/app.auth.js"></script>
{{end}}