<div class="az-footer ht-40">
    <div class="container-fluid pd-t-0-f ht-100p">
        <span>&copy; 2019 Alaric Media Informatika</span>
        <span>Designed by: Alaric</span>
    </div><!-- container -->
</div><!-- az-footer -->

<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/ajaxq/ajaxq.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/lib/ionicons/ionicons.js"></script>
<script src="/static/lib/moment/moment.js"></script>
<script src="/static/lib/toastr/toastr.min.js"></script>