<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- vendor css -->
<link href="/static/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="/static/lib/typicons.font/typicons.css" rel="stylesheet">
<link href="/static/lib/toastr/toastr.min.css" rel="stylesheet">