<!doctype html>
<html>
    <head>
        <title>{{.title}}</title>
        {{include "layouts/header"}}
        {{block "header" .}}{{end}}
        <!-- azia CSS -->
        <link href="/static/css/azia.min.css" rel="stylesheet">
        <link href="/static/lib/toastr/toastr.min.css" rel="stylesheet">
        <!-- global custom css -->
        <link href="/static/css/custom.css" rel="stylesheet">
        <!-- spesific custom css -->
        {{block "customCss" .}}{{end}}

        <script>
            var waitText = 'wait ...';
            var loaderText = 'Please wait ...';
            var spinnerLoaderSm = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
            var pageSession = { "id": "{{.User.PageId}}", "code": "{{.User.PageCode}}", "name": "{{.User.PageName}}", "level": "{{.User.PageLevel}}"};
        </script>
    </head>
    <body class="az-body">
        {{block "navbar" .}}
            {{include "layouts/navbar"}}
        {{end}}

        {{template "content" .}}

        {{include "layouts/footer"}}
        {{block "footer" .}}{{end}}
        <script src="/static/js/azia.js"></script>
        <script src="/static/js/app/app.utils.js"></script>
        <!-- spesific custom js -->
        {{block "customJs" .}}{{end}}
    </body>
</html>