<div class="az-header shadow-none">
    <div class="container-fluid">
        <div class="az-header-left">
            <a href="index.html" class="az-logo text-capitalize">{{.Config.AppName}}</a>
            <a href="" id="azNavShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-right">
            <div class="az-header-notification">
                <a href="" style="font-size: 14px !important;">{{.User.PageName}}</a>
            </div><!-- az-header-notification -->
            <div class="dropdown az-profile-menu">
                <a href="#" class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></a>
                <div class="dropdown-menu">
                    <div class="az-dropdown-header d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <div class="az-header-profile">
                        <div class="az-img-user">
                            <img src="https://via.placeholder.com/500" alt="">
                        </div><!-- az-img-user -->
                        <h6>{{.User.UserLogin}}</h6>
                    </div><!-- az-header-profile -->

                    <!-- <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                    <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
                    <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
                    <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a> -->
                    <a href="/auth/logout/" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign
                        Out</a>
                </div><!-- dropdown-menu -->
            </div>
        </div><!-- az-header-right -->
    </div><!-- container -->
</div><!-- az-header -->

<div class="az-navbar az-navbar-dashboard-four">
    <div class="container-fluid">
        <div class="az-navbar-header">
            <a href="index.html" class="az-logo">az<span>i</span>a</a>
        </div><!-- az-navbar-header -->
        <div class="az-navbar-search">
            <input type="search" class="form-control" placeholder="Search for anything...">
            <button class="btn"><i class="fas fa-search "></i></button>
        </div><!-- az-navbar-search -->
        <ul class="nav">
            <li class="nav-label">Main Menu</li>
            <li class="nav-item active show">
                <a href="/dashboard/" class="nav-link with-sub"><i class="typcn typcn-flow-children"></i>My Network</a>
                <ul class="nav-sub">
                    <!-- only corporate -->
                    {{ if eq .User.UserRole 1 }}
                    <li class="nav-sub-item">
                        <a href="#" class="nav-sub-link with-sub">Corporate Panel</a>
                        <ul class="nav-sub">
                            <li class="nav-sub-item">
                                <a href="/dashboard/" class="nav-sub-link">Dashboard</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="/users" class="nav-sub-link">Users</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="#" class="nav-sub-link with-sub">Setup</a>
                                <ul class="nav-sub">
                                    <li class="nav-sub-item">
                                        <a href="/setup/corporate" class="nav-sub-link">Corporate</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/brands" class="nav-sub-link">Brands</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/hotels" class="nav-sub-link">Hotels</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/facilities" class="nav-sub-link">Facilities</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/category" class="nav-sub-link">Categories</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/page-duplicator" class="nav-sub-link">Page Duplicator</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/tag" class="nav-sub-link">Tag</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/widget" class="nav-sub-link">Widget</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/cities" class="nav-sub-link">Cities</a>
                                    </li>
                                    <li class="nav-sub-item">
                                        <a href="/setup/lang" class="nav-sub-link">Language</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {{ end }}
                    {{range .Menu}}
                    <li class="nav-sub-item">
                        <a href="/dashboard/brand/{{.id}}/" class="nav-sub-link with-sub">{{.name}}</a>
                        <ul class="nav-sub">
                            <!-- only corporate & brand -->
                            {{ if or (eq $.User.UserRole 1 2) }}
                            <li class="nav-sub-item">
                                <a href="/dashboard/{{.id}}/brand" class="nav-sub-link">Dashboard</a>
                            </li>
                            {{ end }}
                            {{range .properties}}
                            <li class="nav-sub-item">
                                <a href="/dashboard/{{.id}}/hotel" class="nav-sub-link">{{.name}}</a>
                            </li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i class="typcn typcn-document"></i>Content</a>
                <ul class="nav-sub">
                    <li class="nav-sub-item"><a href="/team" class="nav-sub-link">Team</a></li>
                    <li class="nav-sub-item"><a href="/banner" class="nav-sub-link">Banner</a></li>
                    <li class="nav-sub-item"><a href="/category" class="nav-sub-link">Categories</a></li>
                    <li class="nav-sub-item"><a href="/page" class="nav-sub-link">Pages</a></li>
                    <li class="nav-sub-item"><a href="/group_content" class="nav-sub-link">Group Content</a></li>
                    <li class="nav-sub-item"><a href="/media" class="nav-sub-link">Media</a></li>
                    {{ if eq .User.UserRole 1 }}
                    <li class="nav-sub-item">
                        <a href="" class="nav-sub-link with-sub">Builder</a>
                        <ul class="nav-sub">
                            <li class="nav-sub-item">
                                <a href="/builder/photogrid" class="nav-sub-link">PhotoGrid</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="/builder/popup" class="nav-sub-link">Popup</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="/builder/map-attraction" class="nav-sub-link">Map + Attractions</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="/builder/instagram" class="nav-sub-link">Instagram Feed</a>
                            </li>
                        </ul>
                    </li>
                    {{ end }}
                </ul>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="/users" class="nav-link"><i class="typcn typcn-group-outline"></i>Users</a>
            </li><!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub"><i class="typcn typcn-cog-outline"></i>Settings</a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a href="/setting" class="nav-sub-link">General</a>
                    </li>
                    <li class="nav-sub-item">
                        <a href="/setting/menu" class="nav-sub-link">Menu</a>
                    </li>
                    <li class="nav-sub-item">
                        <a href="/setting/message" class="nav-sub-link">Messaging</a>
                    </li>
                </ul>
            </li><!-- nav-item -->
        </ul><!-- nav -->
    </div><!-- container-fluid -->
</div><!-- az-navbar -->