.select2-dropdown {
    z-index: 1050; 
}

.cursor-pointer {
    cursor: pointer;
}

/* Hide unlicensed froala editor */
[data-f-id="pbf"] {
    display: none !important;
}

.fr-popup {
    z-index: 1059 !important;
}

/* font size select tinymce */
.tox .tox-tbtn--bespoke .tox-tbtn__select-label {
    width: auto !important;
}

input:read-only {
    background-color: #ffffff !important;
}

input:-moz-read-only {
    background-color: #ffffff !important;
}