<div id="modal-widget" class="modal fade effect-scale">
    <div class="modal-dialog" role="document" style="width: 40%; max-width: 100%;">
        <div class="modal-content bd">
            <div class="modal-header">
                <h6 class="modal-title">Widget</h6>
                <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="accordion-widget" class="modal-body widget-data pd-t-15 pd-b-15" data-api="/widget">
                <!-- <div class="card">
                    <div class="card-header tx-medium cursor-pointer" data-toggle="collapse" data-target="#collapse-id">
                        Widget Title
                    </div>
                    <div id="collapse-id" class="collapse" data-parent="#accordion-widget">
                        <div class="card-body bd-t">
                        </div>
                    </div>
                </div> -->
            </div><!-- modal-body -->
            <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form user add -->