<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/lib/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet">
<link href="/static/lib/froala-editor/css/froala_style.min.css" rel="stylesheet">
<style>
    .az-toggle.toggle-banner-status {
        width: 85px;
    }

    .az-toggle.toggle-banner-status span::before {
        content: "Active";
        left: -49px;
    }

    .az-toggle.toggle-banner-status span::after {
        content: "Inactive";
        right: -55px;
    }

    .az-toggle.toggle-banner-status.on span {
        left: 62px;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Content</span>
                    <span>Banner</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Banner</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-light btn-refresh-table">Refresh</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-banner">Add</button>
                    </div>
                </div>
                
                <div>
                    <table id="datatable-banner" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="1">No</th>
                                <th>Name</th>
                                <th>Count</th>
                                <th>Brand</th>
                                <th>Property</th>
                                <th>Created At</th>
                                <th style="width: 150px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-banner" class="modal fade effect-scale">
        <div class="modal-dialog wd-900" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/banner" type="post" class="form-banner add" data-parsley-validate data-parsley-errors-messages-disabled>
                    <div class="modal-header">
                        <h6 class="modal-title">Add Banner</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                        </div><!-- form-group -->
                        <div class="form-group mg-b-10">
                            <a href="#" 
                                data-toggle="media-library" 
                                data-filter="image" 
                                data-multiple="yes"
                                data-self-parent="yes"
                                data-parent-target="form" 
                                data-target=".banner-items" 
                                class="badge badge-secondary">Add Image Banner</a>
                        </div>
                        <div class="banner-items">
                            <div class="row row-sm mg-b-20 d-none">
                                <input type="hidden" name="lang" class="primary-lang" required>
                                <div class="col-sm-5">
                                    <div class="form-group pos-relative mg-b-0">
                                        <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-200 banner-image">
                                        <div class="bi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-trigger="delete-bi" class="badge badge-danger tx-bold">X Delete</a>
                                        </div>
                                        <input type="hidden" name="image">
                                    </div>
                                    <!-- form-group -->
                                </div>
                                <div class="col-sm-7">
                                    <div class="row row-sm">
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                                <input name="title" type="text" class="form-control">
                                            </div>
                                            <!-- form-group -->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                                                <input type="number" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                                            </div><!-- form-group -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                        <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </div><!-- row -->
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form user add -->

    <div id="modal-form-banner-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-900" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/banner" type="put" class="form-banner update" data-parsley-validate>
                    <div class="modal-header">
                        <h6 class="modal-title">Update Banner</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                        </div><!-- form-group -->
                        <div class="form-group mg-b-10">
                            <a href="#" 
                                data-toggle="media-library" 
                                data-filter="image" 
                                data-multiple="yes"
                                data-self-parent="yes"
                                data-parent-target="form" 
                                data-target=".banner-items" 
                                class="badge badge-secondary">Add Image Banner</a>
                        </div>
                        <div class="banner-items">
                            <div class="card bd-0 d-none">
                                <div class="card-header d-flex bg-gray-300 bd-b-0-f pd-b-0">
                                    <div class="flex-grow-1">    
                                        <nav class="nav nav-tabs">
                                            <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-banner-default">Default</a>
                                        </nav>
                                    </div>
                                    <div class="form-group mg-0" style="margin-top: -5.5px;">
                                        <select class="form-control translate-to" placeholder="Translate To" style="width:120px !important">
                                            <option></option>
                                        </select>
                                        <a href="#" class="btn btn-danger tx-bold pd-t-6 pd-b-6" data-trigger="delete-bi" style="min-height: 36px;">x</a>
                                    </div>
                                </div>
                                <!-- card-header -->
                                <div class="card-body tab-content pd-l-0 pd-r-0">
                                    <div id="tab-banner-default" class="tab-pane fade">
                                        <div class="row row-sm mg-b-10">
                                            <input type="hidden" name="lang" required>
                                            <div class="col-sm-5">
                                                <div class="form-group pos-relative mg-b-0">
                                                    <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-200 banner-image">
                                                    <div class="bi-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                        <a 
                                                            href="#" 
                                                            data-toggle="media-library" 
                                                            data-filter="image" 
                                                            data-self-parent="yes"
                                                            data-parent-target=".card-body"
                                                            data-input-target="input[name=image]" 
                                                            class="badge badge-info tx-bold"
                                                        >Change</a>
                                                        <a href="#" data-trigger="delete-tab" class="badge badge-danger tx-bold d-none">X</a>
                                                    </div>
                                                    <input type="hidden" name="image" required>
                                                </div>
                                                <!-- form-group -->
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="row row-sm">
                                                    <div class="col-sm-9">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Title</label>
                                                            <input name="title" type="text" class="form-control">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                                                            <input type="number" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                                                        </div>
                                                        <!-- form-group -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                                    <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- row -->
                                    </div>
                                    <!-- tab-pane -->
                                </div>
                                <!-- card-body -->
                            </div>
                            <!-- card -->
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-10 pd-b-10">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change</button>
                    </div>
                </form>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal form user update -->

    <div id="modal-assign-banner" class="modal fade effect-scale">
        <div class="modal-dialog wd-900" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Assign Banner</h5>
                        <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body pd-0">
                        <div class="card bd-0">
                            <div class="card-header bg-gray-300 bd-b-0-f pd-b-0">
                                <nav class="nav nav-tabs">
                                    <a class="nav-link tx-medium text-uppercase active" data-toggle="tab" href="#tab-page">Page</a>
                                    <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-category">Category</a>
                                    <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-group-content">Group Content</a>
                                </nav>
                            </div>
                            <!-- card-header -->
                            <div class="card-body tab-content">
                                <div id="tab-page" class="tab-pane show active fade">
                                    <form action="/banner/assign/page" type="put" class="form-assign page" data-type="page" data-parsley-validate data-parsley-errors-messages-disabled>
                                        <input type="hidden" name="id" required> 
                                        <div class="row row-sm">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div id="slcPageWrapper" class="parsley-select">
                                                        <select 
                                                            name="page_id" 
                                                            class="form-control" 
                                                            style="width:100% !important" 
                                                            data-parsley-class-handler="#slcPageWrapper" 
                                                            data-parsley-errors-container="#slcPageError"
                                                            required>
                                                            <option></option>
                                                        </select>
                                                        <div id="slcPageError"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary btn-block" type="submit">Assign</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card card-table-one page-data" data-api="/banner/assigned/page" data-type="page">
                                        <h6 class="card-title">Selected Page</h6>
                                        <div class="alert alert-outline-warning mg-t-20 tx-center d-none" role="alert">No items.</div>
                                        <div class="table-responsive mg-t-20">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30">No</th>
                                                        <th>Page Title</th>
                                                        <th width="1">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <!-- table-responsive -->
                                    </div>
                                </div>
                                <!-- tab-pane -->
                                <div id="tab-category" class="tab-pane fade">
                                    <form action="/banner/assign/category" type="put" class="form-assign category" data-type="category" data-parsley-validate data-parsley-errors-messages-disabled>
                                        <input type="hidden" name="id" required>
                                        <div class="row row-sm">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div id="slcCategoryWrapper" class="parsley-select">
                                                        <select name="category_id" class="form-control" style="width:100% !important" data-parsley-class-handler="#slcCategoryWrapper" data-parsley-errors-container="#slcCategoryError"
                                                            required>
                                                            <option></option>
                                                        </select>
                                                        <div id="slcCategoryError"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary btn-block" type="submit">Assign</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card card-table-one category-data" data-api="/banner/assigned/category" data-type="category">
                                        <h6 class="card-title">Selected Category</h6>
                                        <div class="alert alert-outline-warning mg-t-20 tx-center d-none" role="alert">No items.</div>
                                        <div class="table-responsive mg-t-20">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30">No</th>
                                                        <th>Category Name</th>
                                                        <th width="1">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <!-- table-responsive -->
                                    </div>
                                </div>
                                <!-- tab-pane -->
                                <div id="tab-group-content" class="tab-pane fade">
                                    <form action="/banner/assign/group_content" type="put" class="form-assign group-content" data-type="group_content" data-parsley-validate
                                        data-parsley-errors-messages-disabled>
                                        <input type="hidden" name="id" required>
                                        <div class="row row-sm">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div id="slcGCWrapper" class="parsley-select">
                                                        <select name="group_id" class="form-control" style="width:100% !important" data-parsley-class-handler="#slcGCWrapper"
                                                            data-parsley-errors-container="#slcGCError" required>
                                                            <option></option>
                                                        </select>
                                                        <div id="slcGCError"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-primary btn-block" type="submit">Assign</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card card-table-one group-content-data" data-api="/banner/assigned/group_content" data-type="group_content">
                                        <h6 class="card-title">Selected Group Content</h6>
                                        <div class="alert alert-outline-warning mg-t-20 tx-center d-none" role="alert">No items.</div>
                                        <div class="table-responsive mg-t-20">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30">No</th>
                                                        <th>Group Name</th>
                                                        <th width="1">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <!-- table-responsive -->
                                    </div>
                                </div>
                                <!-- tab-pane -->
                            </div>
                            <!-- card-body -->
                        </div>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer pd-l-20 pd-r-20 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
                <!-- modal-content -->
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal form assign banner -->

    {{include "media/modal"}}
    <!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/lib/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.banner.js"></script>
{{end}}