<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
<link href="/static/lib/paginationjs/dist/pagination.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<style>
    body.dragging,
    body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute;
        top: 0;
        opacity: 0.5;
        z-index: 2000;
    }

    ol.vertical {
        margin: 0 0 9px 0;
        min-height: 10px;
    }

    ol.vertical li {
        display: block;
        /* margin: 5px;
        padding: 5px;
        color: #0088cc;
        border: 1px solid #cccccc;
        background: #eeeeee;  */
    }

    ol.vertical li.placeholder {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
    }

    ol.vertical li.placeholder:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        margin-top: -5px;
        left: -5px;
        top: -4px;
        border: 5px solid transparent;
        border-left-color: red;
        border-right: none;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Setting</span>
                    <span>Group Content</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Group Content</h2>
                    </div>
                </div>

                <div class="row row-sm">
                    <div class="col-md-4 mg-t-20 mg-md-t-0">
                        <form class="form-group-content filter" data-parsley-validate data-parsley-errors-messages-disabled>
                            <div class="row row-sm">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Name</label>
                                        <div id="slGnFltWrapper" class="parsley-select">
                                            <select name="name" class="form-control flt-group-content text-uppercase" placeholder="Select Group Name"
                                                style="width:100% !important" data-parsley-class-handler="#slGnFltWrapper"
                                                data-parsley-errors-container="#gnFltError" required>
                                                <option label="Choose"></option>
                                            </select>
                                            <div id="gnFltError"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-secondary btn-block pd-t-0 pd-b-0" style="margin-top: 27px;" type="submit">View Group</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md mg-t-20 mg-md-t-0">
                        <button class="btn btn-primary pd-t-0 pd-b-0 float-right" data-toggle="modal" data-target="#modal-form-group-content" style="margin-top: 27px;">Create Group</button>
                    </div>
                </div>

                <div class="bd-t mg-t-5 mg-b-20"></div>

                <div class="row row-sm">
                    <div class="col-md-4 mg-t-20 mg-md-t-0">
                        <form class="form-group-content filter-item">
                            <div class="row row-sm pd-t-6">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <select name="property_id" class="form-control flt-property text-uppercase" placeholder="Select Property"
                                            style="width:100% !important" disabled required>
                                            <option label="Choose"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <select name="category_id" class="form-control flt-category text-uppercase" placeholder="Select Category" style="width:100% !important" disabled>
                                        <option label="Choose"></option>
                                    </select>
                                </div>
                            </div>
                        </form>

                        <div id="accordion">
                            <div class="card bd mg-b-5 pages">
                                <div class="card-header tx-medium cursor-pointer" data-toggle="collapse" data-target="#collapsePages">
                                    Pages
                                </div>
                                <div id="collapsePages" class="collapse" data-parent="#accordion">
                                    <div class="card-body bd-t">
                                        <div class="alert alert-outline-warning mg-b-0 tx-center pagesInfo" role="alert">No items.</div>
                                        <div class="pagesContainer d-none">
                                            <div class="items pagesData mg-b-15">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bd-t tx-right pd-t-6 pd-b-6">
                                        <a href="#" class="btn btn-outline-dark add-to" style="padding: .25rem .9rem; min-height: 5px;">Add to Group</a>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="card bd mg-b-5">
                                <div class="card-header tx-medium cursor-pointer" data-toggle="collapse" data-target="#collapseCategory">
                                    Category
                                </div>
                                <div id="collapseCategory" class="collapse" data-parent="#accordion">
                                    <div class="card-body bd-t">
                                        <div class="alert alert-outline-warning mg-b-0 tx-center categoryInfo" role="alert">No items.</div>
                                        <div class="categoryContainer d-none">
                                            <div class="items categoryData mg-b-15">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bd-t tx-right pd-t-5 pd-b-5">
                                        <a href="#" class="btn btn-outline-dark add-to" style="padding: .25rem .9rem; min-height: 5px;">Add to Group</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card bd mg-b-5">
                                <div class="card-header tx-medium cursor-pointer" data-toggle="collapse" data-target="#collapseGroupContent">
                                    Group Content
                                </div>
                                <div id="collapseGroupContent" class="collapse" data-parent="#accordion">
                                    <div class="card-body bd-t">
                                        <div class="alert alert-outline-warning mg-b-0 tx-center groupContentInfo" role="alert">No items.</div>
                                        <div class="groupContentContainer d-none">
                                            <div class="items groupContentData mg-b-15">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bd-t tx-right pd-t-5 pd-b-5">
                                        <a href="#" class="btn btn-outline-dark add-to" style="padding: .25rem .9rem; min-height: 5px;">Add to Group</a>
                                    </div>
                                </div>
                            </div>                    
                        </div>
                    </div><!-- col -->
                    <div class="col-md mg-t-20 mg-md-t-0">
                        <div class="card bd">
                            <div class="card-header tx-medium">
                                Data
                            </div><!-- card-header -->
                            <div class="card-body bd-t d-none">
                                <form action="/group_content" type="put" class="form-group-content update" data-parsley-validate>
                                    <input type="hidden" name="group_id" required>
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Name</label>
                                            <input type="text" name="name" placeholder="Group Name" class="form-control" value="" disabled required>
                                        </div>
                                        <div class="form-group col-md-7">
                                            <button type="button" class="btn btn-outline-secondary pd-t-0 pd-b-0" data-toggle="modal" data-target="#modal-form-setting" style="margin-top: 27px;"><i class="fas fa-cogs"></i></button>
                                        </div>
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group pos-relative">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Image</label>
                                        <div class="pos-relative wd-200">
                                            <img src="#" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-200 ht-120 group-image">
                                            <div class="image-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                <a href="#" data-toggle="media-library" data-filter="image" data-self-parent="yes" data-parent-target=".form-group" data-input-target="input[name=image]" class="badge badge-info tx-bold">Change</a>
                                                <a href="#" data-trigger="delete-group-image" class="badge badge-danger tx-bold d-none">X</a>
                                            </div>
                                        </div>
                                        <input type="hidden" name="image">
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group mg-b-0">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Item</label>
                                    </div>
                                    <!-- form-group -->
                                    <ol id="group_item" class="group_item vertical pd-0">
                                    </ol>
                                    <div class="btn-action d-none mg-t-20">
                                        <a href="/group_content" class="btn btn-danger float-right delete-group mg-l-5">Delete Group</a>
                                        <button class="btn btn-purple float-right" type="submit">Save Change</button>
                                    </div>
                                </form>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-group-content" class="modal fade effect-scale">
        <div class="modal-dialog wd-400" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/group_content" type="post" class="form-group-content add" data-parsley-validate>
                    <input type="hidden" name="lang" class="primary-lang" required>
                    <div class="modal-header">
                        <h5 class="modal-title">Create Group Content</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pd-t-15 pd-b-15">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Group Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Group Name" required>
                        </div>
                        <!-- form-group -->
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div>
            <!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form group content -->

    <div id="modal-form-setting" class="modal fade effect-scale">
        <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Group Content Setting</h5>
                        <form class="form-inline">
                            <div class="form-group d-none">
                                <select class="form-control select2 translate-to" placeholder="Translate To" style="width:120px !important">
                                    <option></option>
                                </select>
                            </div>
                            <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </form>
                    </div>
                    <form action="/group_content/:id/setting" type="put" class="form-group-content setting" data-parsley-validate>
                        <input type="hidden" name="id" required>
                        <div class="modal-body pd-0">
                            <div class="card bd-0">
                                <div class="card-header bg-gray-300 bd-b-0-f pd-b-0">
                                    <nav class="nav nav-tabs">
                                        <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-category-default">Default</a>
                                    </nav>
                                </div>
                                <!-- card-header -->
                                <div class="card-body tab-content">
                                    <div id="tab-category-default" class="tab-pane fade">
                                        <input type="hidden" name="lang" required>
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Display Title</label>
                                            <input type="text" name="title" class="form-control" placeholder="Display Title">
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                            <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                        </div>
                                        <!-- form-group -->
                                        <div class="row row-md">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Detail Label</label>
                                                    <input type="text" name="label_detail" class="form-control" placeholder="Detail Label">
                                                </div>
                                                <!-- form-group -->
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">More Label</label>
                                                    <input type="text" name="label_more" class="form-control" placeholder="More Label">
                                                </div>
                                                <!-- form-group -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Title</label>
                                            <input type="text" name="meta_title" class="form-control" placeholder="Meta Title">
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Description</label>
                                            <input type="text" name="meta_description" class="form-control" placeholder="Meta Description">
                                        </div>
                                        <!-- form-group -->
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Keywords</label>
                                            <input type="text" name="meta_keyword" class="form-control" placeholder="Meta Keywords">
                                        </div>
                                        <!-- form-group -->
                                    </div>
                                    <!-- tab-pane -->
                                </div>
                                <!-- card-body -->
                            </div>
                        </div>
                        <!-- modal-body -->
                        <div class="modal-footer d-flex pd-l-20 pd-r-20 pd-t-9 pd-b-9">
                            <div class="flex-grow-1">
                                <a href="/group_content" class="btn btn-outline-danger d-none" data-trigger="delete-tab">Delete</a>
                            </div>
                            <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                            <button class="btn btn-purple" type="submit">Save Change All</button>
                        </div>
                    </form>
                </div>
                <!-- modal-content -->
            </div>
            <!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form advance -->

    {{include "media/modal"}}
    <!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/paginationjs/dist/pagination.min.js"></script>
    <script src='/static/lib/jquery-sortable/jquery-sortable-min.js'></script>
    <script src="/static/lib/tinymce/tinymce.min.js"></script>
    <script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.group_content.js"></script>
{{end}}