<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
{{end}}
{{define "content"}}
<div class="az-content">
    <div class="container-fluid">
        <div class="az-content-body">
            <div class="az-content-breadcrumb">
                <span>Content</span>
                <span>Categories</span>
            </div>
            <div class="az-dashboard-one-title mg-b-20">
                <div>
                    <h2 class="az-dashboard-title">Categories</h2>
                </div>
                <div class="toolbar-right">
                    <button class="btn btn-light btn-refresh-table">Refresh</button>
                </div>
            </div>

            <table id="datatable-category" class="table table-hover">
                <thead>
                    <tr>
                        <th width="1">No</th>
                        <th>Name</th>
                        <th>Display Title</th>
                        <th class="wd-70">Lang</th>
                        <th class="wd-250">Created at</th>
                        <th class="wd-50">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div><!-- az-content-body -->
    </div><!-- container-fluid -->
</div><!-- az-content -->

<div id="modal-form-category-update" class="modal fade effect-scale">
    <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Category</h5>
                    <form class="form-inline">
                        <div class="form-group d-none">
                            <select class="form-control select2 translate-to" placeholder="Translate To" style="width:120px !important">
                                <option></option>
                            </select>
                        </div>
                        <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </form>
                </div>
                <form action="/category/extends" type="put" class="form-category update" data-parsley-validate>
                    <div class="modal-body pd-0">
                        <div class="card bd-0">
                            <div class="card-header bg-gray-300 bd-b-0-f pd-b-0">
                                <nav class="nav nav-tabs">
                                    <a class="nav-link tx-medium text-uppercase" data-toggle="tab" href="#tab-category-default">Default</a>
                                </nav>
                            </div><!-- card-header -->
                            <div class="card-body tab-content">
                                <div id="tab-category-default" class="tab-pane fade">
                                    <input type="hidden" name="id">
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Display Title</label>
                                        <input type="text" name="title" class="form-control" placeholder="Display Title">
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                                        <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group pos-relative">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Display Image</label>
                                        <div class="pos-relative wd-200">
                                            <img src="/static/images/default-img.png" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-120 display-image">
                                            <div class="image-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                                <a href="#" data-toggle="media-library" data-filter="image" data-self-parent="yes" data-parent-target="form" data-input-target="input[name=image]"
                                                    class="badge badge-info tx-bold">Change</a>
                                                <a href="#" data-trigger="delete-display-image" class="badge badge-danger tx-bold d-none">X</a>
                                            </div>
                                        </div>
                                        <input type="hidden" name="image">
                                    </div>
                                    <!-- form-group -->
                                    <div class="row row-md">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">Detail Label</label>
                                                <input type="text" name="label_detail" class="form-control" placeholder="Detail Label">
                                            </div>
                                            <!-- form-group -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="az-content-label tx-11 tx-medium tx-gray-600">More Label</label>
                                                <input type="text" name="label_more" class="form-control" placeholder="More Label">
                                            </div>
                                            <!-- form-group -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Title</label>
                                        <input type="text" name="meta_title" class="form-control" placeholder="Meta Title">
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Description</label>
                                        <input type="text" name="meta_description" class="form-control" placeholder="Meta Description">
                                    </div>
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <label class="az-content-label tx-11 tx-medium tx-gray-600">Meta Keywords</label>
                                        <input type="text" name="meta_keyword" class="form-control" placeholder="Meta Keywords">
                                    </div>
                                    <!-- form-group -->
                                </div><!-- tab-pane -->
                            </div><!-- card-body -->
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer d-flex pd-l-20 pd-r-20 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change All</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal form category update -->

{{include "media/modal"}}
<!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
<script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
<script src="/static/lib/select2/js/select2.min.js"></script>
<script src="/static/lib/parsleyjs/parsley.min.js"></script>
<script src="/static/lib/tinymce/tinymce.min.js"></script>
<script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
<script src="/static/js/app/app.media.library.js"></script>
<script src="/static/js/app/app.category.js"></script>
{{end}}