<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Content</span>
                    <span>Team</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">Team</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-light btn-refresh-table">Refresh</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-team">Add</button>
                    </div>
                </div>
                
                <div>
                    <table id="datatable-team" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="1">No</th>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Socmed</th>
                                <th>Order</th>
                                <th>Brand</th>
                                <th>Property</th>
                                <th>Created At</th>
                                <th style="width: 100px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-team" class="modal fade effect-scale">
        <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/team" type="post" class="form-team add" data-parsley-validate>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Team</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-sm">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Fullname" required>
                                </div><!-- form-group -->
                                <div class="row row-sm">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Position</label>
                                            <input type="text" name="position" class="form-control" placeholder="Position" required>
                                        </div><!-- form-group -->
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                                            <input type="text" name="order" class="form-control" placeholder="Order" data-parsley-type="integer">
                                        </div><!-- form-group -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Picture</label>
                                    <div class="pos-relative">
                                        <img src="/static/images/default-img.png" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-120 picture">
                                        <div class="image-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-self-parent="yes" data-parent-target="form" data-input-target="input[name=picture]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-picture" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="picture"> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Email</label>
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Facebook</label>
                            <input type="text" name="facebook" class="form-control" placeholder="Facebook">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Twitter</label>
                            <input type="text" name="twitter" class="form-control" placeholder="Twitter">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Instagram</label>
                            <input type="text" name="instagram" class="form-control" placeholder="Instagram">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">LinkedIn</label>
                            <input type="text" name="linkedin" class="form-control" placeholder="LinkedIn">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                            <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                        </div><!-- form-group -->
                    </div><!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form user add -->

    <div id="modal-form-team-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-700" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <form action="/team" type="put" class="form-team update" data-parsley-validate>
                    <div class="modal-header">
                        <h5 class="modal-title">Update Team</h5>
                        <button type="button" class="close ml-sm-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" required>
                        <div class="row row-sm">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Fullname" required>
                                </div><!-- form-group -->
                                <div class="row row-sm">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Position</label>
                                            <input type="text" name="position" class="form-control" placeholder="Position" required>
                                        </div><!-- form-group -->
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Order</label>
                                            <input type="text" name="order" class="form-control" placeholder="Order"
                                                data-parsley-type="integer">
                                        </div><!-- form-group -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group pos-relative">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Picture</label>
                                    <div class="pos-relative">
                                        <img src="/static/images/default-img.png" onerror="this.src='/static/images/default-img.png';" class="img-fluid img-thumbnail wd-100p ht-120 picture">
                                        <div class="image-toolbar pos-absolute" style="top: 3px; right: 8px;">
                                            <a href="#" data-toggle="media-library" data-self-parent="yes" data-parent-target="form" data-input-target="input[name=picture]" class="badge badge-info tx-bold">Change</a>
                                            <a href="#" data-trigger="delete-picture" class="badge badge-danger tx-bold d-none">X</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="picture">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Email</label>
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Facebook</label>
                            <input type="text" name="facebook" class="form-control" placeholder="Facebook">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Twitter</label>
                            <input type="text" name="twitter" class="form-control" placeholder="Twitter">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Instagram</label>
                            <input type="text" name="instagram" class="form-control" placeholder="Instagram">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">LinkedIn</label>
                            <input type="text" name="linkedin" class="form-control" placeholder="LinkedIn">
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Description</label>
                            <textarea name="description" rows="3" class="form-control" placeholder="Description"></textarea>
                        </div><!-- form-group -->
                    </div>
                    <!-- modal-body -->
                    <div class="modal-footer pd-l-25 pd-r-25 pd-t-9 pd-b-9">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" aria-label="Close">Close</button>
                        <button class="btn btn-purple" type="submit">Save Change</button>
                    </div>
                </form>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal form user update -->

    {{include "media/modal"}}
    <!-- modal media library -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
    <script src="/static/lib/tinymce/tinymce.min.js"></script>
    <script src="/static/lib/tinymce/jquery.tinymce.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.media.library.js"></script>
    <script src="/static/js/app/app.team.js"></script>
{{end}}