<!-- for js or css -->
{{define "header"}}
<link href="/static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
{{end}}
<!-- spesific custom css -->
{{define "customCss"}}
<style>
    .az-toggle.toggle-user-status {
        width: 85px;
    }
    .az-toggle.toggle-user-status span::before {
        content: "Active";
        left: -49px;
    }
    .az-toggle.toggle-user-status span::after {
        content: "Inactive";
        right: -55px;
    }
    .az-toggle.toggle-user-status.on span {
        left: 62px;
    }
</style>
{{end}}
{{define "content"}}
    <div class="az-content">
        <div class="container-fluid">
            <div class="az-content-body">
                <div class="az-content-breadcrumb">
                    <span>Users</span>
                    <span>All User</span>
                </div>
                <div class="az-dashboard-one-title mg-b-20">
                    <div>
                        <h2 class="az-dashboard-title">User Data</h2>
                    </div>
                    <div class="toolbar-right">
                        <button class="btn btn-light btn-refresh-table">Refresh</button>
                        {{ if eq .User.UserRole 1 }}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-user">Add</button>
                        {{ end }}
                    </div>
                </div>
                
                <div>
                    <table id="datatable-users" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="1">No</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Brand</th>
                                <th>Property</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Registered at</th>
                                <th style="width: 100px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!-- az-content-body -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div id="modal-form-user" class="modal fade effect-scale">
        <div class="modal-dialog wd-600" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-body pd-sm-40">
                    <button type="button" class="close pos-absolute t-15 r-20 tx-26" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    
                    <h5 class="modal-title mg-b-20">Create New User</h5>
                    <form action="/users/add" type="post" class="form-user add" data-parsley-validate>
                        <div class="row row-md">
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Firstname</label>
                                    <input type="text" name="firstname" class="form-control" placeholder="Firstname" required>
                                </div><!-- form-group -->
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Lastname</label>
                                    <input type="text" name="lastname" class="form-control" placeholder="Lastname">
                                </div><!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div><!-- form-group -->
                        <div class="row row-md">
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Role</label>
                                    <div id="slRoleWrapper" class="parsley-select">
                                        <select name="role" class="form-control select2-no-search" style="width:100% !important"
                                            data-parsley-class-handler="#slRoleWrapper" data-parsley-errors-container="#roleError" required>
                                            <option label="Choose one"></option>
                                            <option value="{{.role.Corporate}}">Corporate</option>
                                            <option value="{{.role.Brand}}">Brand</option>
                                            <option value="{{.role.Hotel}}">Hotel</option>
                                        </select>
                                        <div id="roleError"></div>
                                    </div>
                                </div><!-- form-group -->
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand</label>
                                    <div id="slBrandWrapper" class="parsley-select">
                                        <select name="brand_id" class="form-control select2 brand" style="width:100% !important"
                                            data-parsley-class-handler="#slBrandWrapper" data-parsley-errors-container="#brandError">
                                            <option label="Choose one"></option>
                                        </select>
                                        <div id="brandError"></div>
                                    </div>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md">
                                <div class="form-group mg-b-40">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Property</label>
                                    <div id="slPropertyWrapper" class="parsley-select">
                                        <select name="property_id" class="form-control select2 property" style="width:100% !important"
                                            data-parsley-class-handler="#slPropertyWrapper" data-parsley-errors-container="#propertyError">
                                            <option label="Choose one"></option>
                                        </select>
                                        <div id="propertyError"></div>
                                    </div>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Username</label>
                            <input name="username" type="text" class="form-control" placeholder="Enter your username" required>
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Password</label>
                            <input name="password" type="password" id="password" class="form-control" placeholder="Enter your password" required>
                        </div><!-- form-group -->
                        <div class="form-group mg-b-30">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Retype Password</label>
                            <input name="repassword" type="password" class="form-control" placeholder="Retype your password" data-parsley-equalto="#password" required>
                        </div><!-- form-group -->
                        <button class="btn btn-purple btn-block" type="submit">Save</button>
                    </form>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal form user add -->

    <div id="modal-form-user-update" class="modal fade effect-scale">
        <div class="modal-dialog wd-600" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-body pd-sm-40">
                    <button type="button" class="close pos-absolute t-15 r-20 tx-26" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h5 class="modal-title mg-b-20">Update User</h5>
                    <form action="/users/update" type="post" class="form-user update" data-parsley-validate>
                        <input type="hidden" name="user_id" required>
                        <input type="hidden" name="status" required>
                        <div class="row row-md">
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Firstname</label>
                                    <input type="text" name="firstname" class="form-control" placeholder="Firstname" required>
                                </div><!-- form-group -->
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Lastname</label>
                                    <input type="text" name="lastname" class="form-control" placeholder="Lastname">
                                </div><!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Username</label>
                            <input name="username" type="text" class="form-control" placeholder="Enter your username" required>
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div><!-- form-group -->

                        <div class="row row-sm role">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Role</label>
                                    <div id="slRoleWrapperEdt" class="parsley-select">
                                        <select name="role" class="form-control select2-no-search" style="width:100% !important" data-parsley-class-handler="#slRoleWrapperEdt" data-parsley-errors-container="#roleErrorEdt" required>
                                            <option label="Choose one"></option>
                                            <option value="{{.role.Corporate}}">Corporate</option>
                                            <option value="{{.role.Brand}}">Brand</option>
                                            <option value="{{.role.Hotel}}">Hotel</option>
                                        </select>
                                        <div id="roleErrorEdt"></div>
                                    </div>
                                </div><!-- form-group -->
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Brand</label>
                                    <div id="slBrandWrapperEdt" class="parsley-select">
                                        <select name="brand_id" class="form-control select2 brand" style="width:100% !important" data-parsley-class-handler="#slBrandWrapperEdt" data-parsley-errors-container="#brandErrorEdt">
                                            <option label="Choose one"></option>
                                        </select>
                                        <div id="brandErrorEdt"></div>
                                    </div>
                                </div><!-- form-group -->
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label class="az-content-label tx-11 tx-medium tx-gray-600">Property</label>
                                    <div id="slPropertyWrapperEdt" class="parsley-select">
                                        <select name="property_id" class="form-control select2 property" style="width:100% !important" data-parsley-class-handler="#slPropertyWrapperEdt" data-parsley-errors-container="#propertyErrorEdt">
                                            <option label="Choose one"></option>
                                        </select>
                                        <div id="propertyErrorEdt"></div>
                                    </div>
                                </div><!-- form-group -->
                            </div>
                        </div>
                        <div class="form-group mg-b-30">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Status</label>
                            <div class="row">
                                <div class="col-md">
                                    <div class="az-toggle az-toggle-success toggle-user-status">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-sm text-right">
                                    <a href="#" class="change-password" data-dismiss="modal">Change Password</a>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-purple btn-block" type="submit">Save Change</button>
                    </form>
                </div>
                <!-- modal-body -->
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal form user update -->

    <div id="modal-form-password" class="modal fade effect-scale">
        <div class="modal-dialog wd-400" role="document">
            <div class="modal-content">
                <div class="modal-body pd-sm-40">
                    <button type="button" class="close pos-absolute t-15 r-20 tx-26" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    
                    <h5 class="modal-title mg-b-20">Change Password</h5>
                    <form action="/users/update/password" type="post" class="form-user password" data-parsley-validate>
                        <input type="hidden" name="user_id" required>
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Current Password</label>
                            <input name="current_password" type="password" id="current_password" class="form-control" placeholder="Enter current password" required>
                        </div>
                        <!-- form-group -->
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">New Password</label>
                            <input name="password" type="password" id="new_password" class="form-control" placeholder="Enter new password" required>
                        </div>
                        <!-- form-group -->
                        <div class="form-group mg-b-30">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">Retype Password</label>
                            <input name="retype_password" type="password" class="form-control" placeholder="Retype new password" data-parsley-equalto="#new_password"
                                required>
                        </div>
                        <!-- form-group -->
                        <button class="btn btn-purple btn-block" type="submit">Save Change</button>
                    </form>
                </div>
                <!-- modal-body -->
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal form change password -->
{{end}}
<!-- for js or css -->
{{define "footer"}}
    <script src="/static/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/static/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="/static/lib/select2/js/select2.min.js"></script>
    <script src="/static/lib/parsleyjs/parsley.min.js"></script>
{{end}}
<!-- spesific custom js -->
{{define "customJs"}}
    <script src="/static/js/app/app.users.js"></script>
{{end}}